#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "[🆚         VS Code] Setting log level to debug."
LOG_LEVEL=7
debug "[🆚         VS Code] Verifying installation."

if ! check_macos_app "Code.app"; then
  info "[🆚         VS Code] Application is not installed."
  exit 0

else
  debug "[🆚         VS Code] Application is installed."

fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   VS Code | Extensions
# --------------------------------------------------------------------------------------------------
function get_vscode_extension_state() {
  local extension="$1"
  code --list-extensions 2>/dev/null | grep -i "${extension}" >/dev/null
}

while IFS= read -r extension_id; do
  if [[ "${extension_id}" == \#* ]] || test -z "${extension_id}"; then
    debug "[🆚         VS Code] Skipping commented out or empty line: ${extension_id}"
    continue
  fi

  if ! get_vscode_extension_state "${extension_id}"; then
    info "[🆚         VS Code] Installing extension: ${extension_id}."
    code --install-extension "${extension_id}" &> /dev/null

  else
    debug "[🆚         VS Code] Extension already installed: ${extension_id}."

  fi

done <<< "$(cat <<EOF
{{ template "vscode_plugins.tmpl" . -}}
EOF
)"
# ==================================================================================================

info "[🆚         VS Code] Configuration complete."
