#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Create user directories
# --------------------------------------------------------------------------------------------------
info "[📂            User] Creating directory: ${HOME}/Code/"
{{ if eq .osid "darwin" }}
mkdir -p "${HOME}/Code"

{{   if .personal -}}
info "[📂            User] Creating directory: ${HOME}/Code/github.com/"{{ .personal_git_user | quote }}
mkdir -p "${HOME}/Code/github.com/"{{ .personal_git_user | quote }}
{{   end }}

{{ end }}

info "[📂            User] Creating directory: ${HOME}/Projects/"
mkdir -p "${HOME}/Projects"

info "[📂            User] Creating directory: ${HOME}/tmp/"
mkdir -p "${HOME}/tmp"
# ==================================================================================================
