#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
{{ template "script_check_darwin" . }}
{{ template "script_check_workstation" . }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Prepare Fantastical
# --------------------------------------------------------------------------------------------------
info "[📅     Fantastical] Setting log level to debug"
LOG_LEVEL=7

info "[📅     Fantastical] Closing Fantastical, to prevent it from overriding changes"
osascript -e 'tell application "Fantastical" to quit'
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Update
# --------------------------------------------------------------------------------------------------
### Automatically check for updates
# default | checked
debug "[📅     Fantastical] Preferences | Update | Automatically check for updates"
#   option --> checked
defaults write com.flexibits.fantastical2.mac SUEnableAutomaticChecks -bool true
#   option --> unchecked
# defaults write com.flexibits.fantastical2.mac SUEnableAutomaticChecks -bool false

### Include anonymous system profile
# default | checked
debug "[📅     Fantastical] Preferences | Update | Include anonymous system profile | unchecked"
#   option --> checked
# defaults write com.flexibits.fantastical2.mac SUSendProfileInfo -bool true
#   option --> unchecked
defaults write com.flexibits.fantastical2.mac SUSendProfileInfo -bool false
# ==================================================================================================

info "[📅     Fantastical] Configuration complete"
