#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "VS Code" -icon "🆚"
LOG_LEVEL=5

debug "validating installation of vs code." -category "VS Code" -icon "🆚"
if ! check_macos_app "Code.app"; then
  error "vs code is not installed." -category "VS Code" -icon "🆚"
  exit 0
else
  debug "vs code is installed." -category "VS Code" -icon "🆚"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   VS Code | Extensions
# --------------------------------------------------------------------------------------------------
function get_vscode_extension_state() {
  local extension="$1"
  code --list-extensions 2>/dev/null | grep -i "${extension}" >/dev/null
}

while IFS= read -r extension_id; do

  if [[ "${extension_id}" == \#* ]] || test -z "${extension_id}"; then
    debug "skipping commented out or empty line: ${extension_id}" -category "VS Code" -icon "🆚"
    continue
  fi

  if ! get_vscode_extension_state "${extension_id}"; then
    info "installing extension: ${extension_id}" -category "VS Code" -icon "🆚"
    code --install-extension "${extension_id}" &> /dev/null
  else
    debug "extension already installed: ${extension_id}." -category "VS Code" -icon "🆚"
  fi

done <<< "$(cat <<EOF
{{ template "vscode-plugins.tmpl" . -}}
EOF
)"
# ==================================================================================================

info "configuration complete." -category "VS Code" -icon "🆚"
