#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Decryption"
LOG_CATEGORY_ICON="🔐"
info "Setting log level to debug."
LOG_LEVEL=5
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Lastpass
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Decryption"

{{ if .personal }}
debug "Verifying installation."

if ! check_binary lpass; then
  info "Application is not installed."
  info "Installing lastpass-cli, the Lastpass command line interface tool."
  brew install "lastpass-cli"

else
  debug "Application is installed."

fi

info "Configuring lastpass-cli."
lastpass_email={{- .personal_lastpass_email }}

debug "Checking lastpass-cli status."
lpass_status="$(lpass status)"

if [[ "${lpass_status}" =~ "Logged in as ${lastpass_email}" ]]; then
  debug "Already logged into lastpass-cli."

else
  info "Logging into lastpass-cli."
  lpass login "${lastpass_email}"

fi

debug "lastpass-cli configured."

{{ else }}
debug "Skipping. Does not apply to this Chezmoi profile."

{{ end }}
# ==================================================================================================
