#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Rosetta 2"
LOG_CATEGORY_ICON="🏵"
info "Setting log level to debug."
LOG_LEVEL=5
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Apple Silicon CPU
# --------------------------------------------------------------------------------------------------
{{ if eq .chezmoi.arch "arm64" }}
debug "Checking CPU type."
cpu_brand_string="$(sysctl -n machdep.cpu.brand_string)"

if [[ "${cpu_brand_string}" =~ "Apple" ]]; then
  debug "Apple arm-based CPU detected."
  debug "Verifying installation."

  if /usr/bin/pgrep oahd >/dev/null 2>&1; then
    debug "Rosetta is installed."
    exit 0
  else
    info "Installing Rosetta."
    softwareupdate --install-rosetta --agree-to-license
  fi

else
  fatal "${cpu_brand_string} is an unsupported CPU type."

fi

{{ else }}
debug "Skipping. Does not apply to this CPU architecture."
exit 0

{{ end }}
# ==================================================================================================
