#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew Bundles
# --------------------------------------------------------------------------------------------------
info "[🍺        Homebrew] Installing essential packages"
brew bundle --no-upgrade --no-lock --file=- <<EOF
{{ template "Brewfile-Essentials" }}
EOF

{{ if .flags.is_personal }}
info "[🍺        Homebrew] Installing home packages"
brew bundle --no-upgrade --no-lock --file=- <<EOF
{{ template "Brewfile-Home" }}
EOF
{{ end }}

{{ if .flags.is_work }}
info "[🍺        Homebrew] Installing work packages"
brew bundle --no-upgrade --no-lock --file=- <<EOF
{{ template "Brewfile-Work" }}
EOF
{{ end }}
# ==================================================================================================
