#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :   Configure Photos
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "Setting log level to debug." -category "Photos" -icon "📷"
LOG_LEVEL=5

info "Closing Photos, to prevent it from overriding changes." -category "Photos" -icon "📷"
osascript -e 'tell application "Photos" to quit'
killall "cfprefsd"
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Apple Photos | Settings | General
# --------------------------------------------------------------------------------------------------
### Privacy: Use Touch ID or password
debug "Settings | General | Privacy: Use Touch ID or password | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.photos.shareddefaults ContentPrivacyEnabled -int 1
#   option --> unchecked
# defaults write com.apple.photos.shareddefaults ContentPrivacyEnabled -int 0

### Photos: Autoplay Videos and Live Photos
debug "Settings | General | Photos: Autoplay Videos and Live Photos | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults delete com.apple.Photos IPXDefaultAutoplayVideos 2>/dev/null
#   option --> unchecked
# defaults write com.apple.Photos IPXDefaultAutoplayVideos -int 0

### HDR: View Full HDR
debug "Settings | General | HDR: View Full HDR | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.Photos IPXDefaultViewFullHDR -int 1
#   option --> unchecked
# defaults write com.apple.Photos IPXDefaultViewFullHDR -int 0

### Memories: Show Featured Content
debug "Settings | General | Memories: Show Featured Content | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.photos.shareddefaults FeaturedContentAllowed -int 1
#   option --> unchecked
# defaults write com.apple.photos.shareddefaults FeaturedContentAllowed -int 0

### Memories: Show Holiday Events
debug "Settings | General | Memories: Show Holiday Events | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.photoanalysisd showHolidayCalendarEvents -bool true
#   option --> unchecked
# defaults write com.apple.photoanalysisd showHolidayCalendarEvents -bool false

### Memories: Show Memories Notifications
debug "Settings | General | Memories: Show Memories Notifications | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.photoanalysisd notificationDisabled -int 0
#   option --> unchecked
# defaults write com.apple.photoanalysisd notificationDisabled -int 1

### Importing: Copy items to the Photo library
debug "Settings | General | Importing: Copy items to the Photo library | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.Photos IPXDefaultImportUseReferencedImport -int 0
#   option --> unchecked
# defaults write com.apple.Photos IPXDefaultImportUseReferencedImport -int 1

### Sharing: Include location information
debug "Settings | General | Sharing: Include location information | checked" -category "Photos" -icon "📷"
#   option [default] --> checked
defaults write com.apple.Photos IPXDefaultPlacesPublishPlaceInfo -int 1
#   option --> unchecked
# defaults write com.apple.Photos IPXDefaultPlacesPublishPlaceInfo -int 0

### Memories:
debug "Settings | General | Memories | Landscape, 16:9" -category "Photos" -icon "📷"
#   option [default] --> Landscape, 16:9
defaults write com.apple.Photos StoryExportAspectRatio -string "16x9"
#   option --> Landscape, 4:3
# defaults write com.apple.Photos StoryExportAspectRatio -string "4x3"
#   option --> Landscape, Original
# defaults write com.apple.Photos StoryExportAspectRatio -string "matchFullSizePlayer"
#   option --> Portrait, 9x16
# defaults write com.apple.Photos StoryExportAspectRatio -string "9x16"
#   option --> Portrait, 3x4
# defaults write com.apple.Photos StoryExportAspectRatio -string "3x4"
#   option --> Square, Square
# defaults write com.apple.Photos StoryExportAspectRatio -string "1x1"
# ==================================================================================================

info "Configuration complete." -category "Photos" -icon "📷"
