#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "System"
LOG_LEVEL=5
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Apple Silicon CPU
# --------------------------------------------------------------------------------------------------
{{ if (eq .chezmoi.arch "arm64") }}
debug "checking cpu type" -category "Rosetta 2" -icon "🏵"
cpu_brand_string="$(sysctl -n machdep.cpu.brand_string)"

if [[ "${cpu_brand_string}" =~ "Apple" ]]; then
  debug "apple arm-based cpu detected." -category "Rosetta 2" -icon "🏵"
  debug "verifying installation of rosetta 2." -category "Rosetta 2" -icon "🏵"

  if ! /usr/bin/pgrep oahd >/dev/null 2>&1; then
    debug "Administrator password is required for \`sudo\` operations in this script." -category "Rosetta 2" -icon "🏵"
    {{ template "script-sudo" }}

    info "installing rosetta 2." -category "Rosetta 2" -icon "🏵"
    sudo softwareupdate --install-rosetta --agree-to-license
  else
    debug "rosetta 2 is installed." -category "Rosetta 2" -icon "🏵"
  fi

  debug "validating installation of rosetta 2." -category "Rosetta 2" -icon "🏵"
  if ! /usr/bin/pgrep oahd >/dev/null 2>&1; then
    critical "rosetta 2 is not installed." -category "Rosetta 2" -icon "🏵"
  fi

else
  critical "${cpu_brand_string} is an unsupported cpu type." -category "Rosetta 2" -icon "🏵"
fi

{{ end }}
# ==================================================================================================
