#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Apple Silicon CPU
# --------------------------------------------------------------------------------------------------
{{ if (eq .chezmoi.arch "arm64") }}


info "[🏵       Rosetta 2] Checking CPU type"
cpu_brand_string="$(sysctl -n machdep.cpu.brand_string)"

if [[ "${cpu_brand_string}" =~ "Apple" ]]; then
  info "[🏵       Rosetta 2] Apple arm-based CPU detected"

  if /usr/bin/pgrep oahd >/dev/null 2>&1; then
    info "[🏵       Rosetta 2] Rosetta is already installed"
  else
    info "[🏵       Rosetta 2] Installing Rosetta"
    softwareupdate --install-rosetta --agree-to-license
  fi

else
  fatal "[🏵       Rosetta 2] ${cpu_brand_string} is an unsupported CPU type"
fi

{{ end }}
# ==================================================================================================
