#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Touch ID"
LOG_CATEGORY_ICON="👇"
info "Setting log level to debug."
LOG_LEVEL=5
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   sudo-touchid
# --------------------------------------------------------------------------------------------------
{{ if .personal -}}
# info "Administrator password needed to install sudo-touchid"
{{ template "script-sudo" }}

info "Install sudo-touchid"
brew install "artginzburg/tap/sudo-touchid"

info "Enable sudo-touchid"
sudo-touchid

{{ else }}
debug "Skipping. Does not apply to this Chezmoi profile."
exit 0

{{ end }}
# ==================================================================================================
