#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   function :: skip_configuration
# --------------------------------------------------------------------------------------------------
function skip_configuration() {
  osascript <<EOF
    set alertTitle to "Safari Configuration"
    set alertMessage to "Skipping Safari configuration"
    display alert alertTitle message alertMessage buttons {"OK"} default button "OK"
EOF
  error "[🏞           Safari] Skipping configuration"
  exit 0
}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
info "[🏞           Safari] Setting log level to debug"
LOG_LEVEL=7

debug "[🏞           Safari] Checking for Full Disk Access"
defaults read com.apple.Safari > /dev/null 2>&1
if [ $? -ne 0 ]; then
  debug "[🏞           Safari] This terminal does not have Full Disk Access"
  # show FDA required alert
  alertTitle="Full Disk Access"
  alertMessage="Full Disk Access is required to configure Safari"
  osascript -e "display alert \"$alertTitle\" message \"$alertMessage\" as critical buttons {\"Skip\", \"Continue\"} default button \"Continue\" cancel button \"Skip\" "

  if [ $? -eq 0 ]; then
    debug "[🏞           Safari] Button clicked: Continue"

    if [ -n "${__CFBundleIdentifier}" ]; then
      # open System Preferences -> Full Disk Access
      osascript <<EOF
        tell application "System Preferences"
          activate
          reveal anchor "Privacy_AllFiles" of pane id "com.apple.preference.security"
        end tell
EOF
      # notify user of which terminal app
      terminal_app="$(mdfind "kMDItemCFBundleIdentifier == ${__CFBundleIdentifier}")"
      alertTitle="Full Disk Access Required"
      alertMessage="Click the lock to make changes. \nAdd ${terminal_app}\n to the list of allowed applications."
      osascript -e "display dialog \"$alertMessage\" buttons {\"Cancel\", \"Done\"} default button \"Done\" with title \"$alertTitle\" "

      if [ $? -eq 0 ]; then
        debug "[🏞           Safari] Button clicked: Done"

        # notify user to restart application after making FDA changes
        alertTitle="Full Disk Access Required"
        alertMessage="The terminal app must be restarted after granting Full Disk Access. \nOnce restarted, re-run the Safari configuration script."
        osascript -e "display dialog \"$alertMessage\" buttons {\"OK\"} with title \"$alertTitle\" "
        exit

      else
        debug "[🏞           Safari] Button clicked: Cancel"
        skip_configuration
      fi

    else
      skip_configuration

    fi

  else
    debug "[🏞           Safari] Button clicked: Skip"
    skip_configuration

  fi

else
  debug "[🏞           Safari] This terminal already has full disk access"

fi

# verify Full Disk Access
if [ $? -ne 0 ]; then
  skip_configuration
fi

info "[🏞           Safari] Closing Safari, to prevent it from overriding changes"
osascript -e 'tell application "Safari" to quit'
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | General
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | General | Safari opens with:"
### Safari opens with:
# options:
#   - A new window
#   - A new private window
#   - All windows from last session
#   - All non-private windows from last session
# default: A new window

# A new window
defaults write com.apple.Safari AlwaysRestoreSessionAtLaunch -bool false
defaults write com.apple.Safari ExcludePrivateWindowWhenRestoringSessionAtLaunch -bool false
defaults write com.apple.Safari OpenPrivateWindowWhenNotRestoringSessionAtLaunch -bool false

# A new private window
# defaults write com.apple.Safari AlwaysRestoreSessionAtLaunch -bool false
# defaults write com.apple.Safari ExcludePrivateWindowWhenRestoringSessionAtLaunch -bool false
# defaults write com.apple.Safari OpenPrivateWindowWhenNotRestoringSessionAtLaunch -bool true

# All windows from last session
# defaults write com.apple.Safari AlwaysRestoreSessionAtLaunch -bool true
# defaults write com.apple.Safari ExcludePrivateWindowWhenRestoringSessionAtLaunch -bool false
# defaults write com.apple.Safari OpenPrivateWindowWhenNotRestoringSessionAtLaunch -bool false

# All non-private windows from last session
# defaults write com.apple.Safari AlwaysRestoreSessionAtLaunch -bool true
# defaults write com.apple.Safari ExcludePrivateWindowWhenRestoringSessionAtLaunch -bool true
# defaults write com.apple.Safari OpenPrivateWindowWhenNotRestoringSessionAtLaunch -bool false

debug "[🏞           Safari] Preferences | General | New windows open with:"
### New windows open with:
# options:
#   - Start Page: 4
#   - Homepage: 0
#   - Empty Page: 1
#   - Same Page: 2
#   - Tabs for Favorites: 5
# default: Start Page
defaults write com.apple.Safari NewWindowBehavior -int 4

debug "[🏞           Safari] Preferences | General | New tabs open with:"
### New tabs open with:
# options:
#   - Start Page: 4
#   - Homepage: 0
#   - Empty Page: 1
#   - Same Page: 2
# default: Start Page
defaults write com.apple.Safari NewTabBehavior -int 4

# debug "[🏞           Safari] Preferences | General | Homepage:"
### Homepage:
# Set Safari’s home page to `about:blank` for faster loading
# default: https://www.apple.com/startpage/

debug "[🏞           Safari] Preferences | General | Remove history items:"
### Remove history items:
# options:
#   - After one day: 1
#   - After one week: 7
#   - After two weeks: 14
#   - After one month: 28
#   - After one year: 365
#   - Manually: 365000
# default: After one year
defaults write com.apple.Safari HistoryAgeInDaysLimit -int 365000

# debug "[🏞           Safari] Preferences | General | Favorites shows:"
### Favorites shows:
# default: Favorites

# debug "[🏞           Safari] Preferences | General | File download location:"
### File download location:
# options:
#   - Downloads:
#   - Ask for each download: 
#   - Other: 
# default: Downloads

debug "[🏞           Safari] Preferences | General | Remove download list items:"
### Remove download list items:
# options:
#   - After one day: 3
#   - When Safari quits: 1
#   - Upon successful download: 2
#   - Manually: 0
# default: After one day
defaults write com.apple.Safari DownloadsClearingPolicy -int 2

debug "[🏞           Safari] Preferences | General | Open \"safe\" files after downloading"
### Open "safe" files after downloading
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari AutoOpenSafeDownloads -bool false
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | Tabs
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | Tabs | Tab layout"
### Tab layout
#   - Separate: true
#   - Compact: false
# default: Separate
defaults write com.apple.Safari ShowStandaloneTabBar -bool true

debug "[🏞           Safari] Preferences | Tabs | Tab layout: Always how website titles in tabs"
### Tab layout: Always how website titles in tabs
# options:
#   - unchecked: true
#   - checked: false
# default: unchecked
defaults write com.apple.Safari EnableNarrowTabs -bool true

debug "[🏞           Safari] Preferences | Tabs | Open pages in tabs instead of windows:"
### Open pages in tabs instead of windows:
# options:
#   - Never: 0
#   - Automatically: 1
#   - Always: 2
# default: Automatically
defaults write com.apple.Safari TabCreationPolicy -int 1

debug "[🏞           Safari] Preferences | Tabs | Navigation: CMD-click opens a link in a new tab"
### Navigation: CMD-click opens a link in a new tab
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari CommandClickMakesTabs -bool true

debug "[🏞           Safari] Preferences | Tabs | Navigation: When a new tab or window opens, make it active"
### Navigation: When a new tab or window opens, make it active
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.Safari OpenNewTabsInFront -bool false

debug "[🏞           Safari] Preferences | Tabs | Navigation: Use CMD-1 through CMD-9 to switch tabs"
### Navigation: Use CMD-1 through CMD-9 to switch tabs
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari Command1Through9SwitchesTabs -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | AutoFill
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | AutoFill | AutoFill web forms: Using information from my contacts"
### AutoFill web forms: Using information from my contacts
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.apple.Safari AutoFillFromAddressBook -bool true

debug "[🏞           Safari] Preferences | AutoFill | AutoFill web forms: User names and passwords"
### AutoFill web forms: User names and passwords
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.apple.Safari AutoFillPasswords -bool false

debug "[🏞           Safari] Preferences | AutoFill | AutoFill web forms: Credit cards"
### AutoFill web forms: Credit cards
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.apple.Safari AutoFillCreditCardData -bool true

debug "[🏞           Safari] Preferences | AutoFill | AutoFill web forms: Other forms"
### AutoFill web forms: Other forms
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.apple.Safari AutoFillMiscellaneousForms -bool false
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | Search
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | Search | Search engine:"
### Search engine:
# options:
#   - Google: Google
#   - Yahoo: Yahoo!
#   - Bing: Bing
#   - DuckDuckGo: DuckDuckGo
#   - Ecosia: Ecosia
# default: Google
defaults write com.apple.Safari SearchProviderShortName -string "Google"

debug "[🏞           Safari] Preferences | Search | Search engine: Include search engine suggestions"
### Search engine: Include search engine suggestions
# options:
#   - unchecked: true
#   - checked: false
# default: checked
defaults write com.apple.Safari SuppressSearchSuggestions -bool false

debug "[🏞           Safari] Preferences | Search | Smart Search Field: Include Safari Suggestions"
### Smart Search Field: Include Safari Suggestions
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari UniversalSearchEnabled -bool true

debug "[🏞           Safari] Preferences | Search | Smart Search Field: Enable Quick Website Search"
### Smart Search Field: Enable Quick Website Search
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari WebsiteSpecificSearchEnabled -bool true

debug "[🏞           Safari] Preferences | Search | Smart Search Field: Preload Top Hit in the background"
### Smart Search Field: Preload Top Hit in the background
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari PreloadTopHit -bool true

debug "[🏞           Safari] Preferences | Search | Smart Search Field: Show Favorites"
### Smart Search Field: Show Favorites
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari ShowFavoritesUnderSmartSearchField -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | Security
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | Security | Fraudulent sites: Warn when visiting a fraudulent website"
### Fraudulent sites: Warn when visiting a fraudulent website
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari WarnAboutFraudulentWebsites -bool true

debug "[🏞           Safari] Preferences | Security | Web content: Enable JavaScript"
### Web content: Enable JavaScript
# options:
#   - unchecked
#   - checked
# default: checked

# unchecked
# defaults write com.apple.Safari WarnAboutFraudulentWebsites -bool true
# defaults write com.apple.Safari WebKitJavaScriptEnabled -bool false
# defaults write com.apple.Safari WebKitPreferences.javaScriptEnabled -bool false

# checked
defaults write com.apple.Safari WarnAboutFraudulentWebsites -bool true
defaults write com.apple.Safari WebKitJavaScriptEnabled -bool true
defaults write com.apple.Safari WebKitPreferences.javaScriptEnabled -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | Privacy
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | Privacy | Website tracking: Prevent cross-site tracking"
### Website tracking: Prevent cross-site tracking
# options:
#   - unchecked
#   - checked
# default: checked

# unchecked
# defaults write com.apple.Safari BlockStoragePolicy -int 1
# defaults write com.apple.Safari WebKitPreferences.storageBlockingPolicy -int 0
# defaults write com.apple.Safari WebKitStorageBlockingPolicy -int 0

# checked
defaults write com.apple.Safari BlockStoragePolicy -int 2
defaults write com.apple.Safari WebKitPreferences.storageBlockingPolicy -int 1
defaults write com.apple.Safari WebKitStorageBlockingPolicy -int 1

debug "[🏞           Safari] Preferences | Privacy | Hide IP address: Hide IP address from trackers"
### Hide IP address: Hide IP address from trackers
# options:
#   - unchecked: 3296
#   - checked: 3300
# default: checked
defaults write com.apple.Safari WBSPrivacyProxyAvailabilityTraffic -int 3300

# debug "[🏞           Safari] Preferences | Privacy | Cookies and website data: Block all cookies"
### Cookies and website data: Block all cookies
# options:
#   - unchecked
#   - checked
# default: unchecked

debug "[🏞           Safari] Preferences | Privacy | Apple Pay and Apple Card: Allow websites to check for Apple Pay and Apple Card"
### Apple Pay and Apple Card: Allow websites to check for Apple Pay and Apple Card
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari WebKitPreferences.applePayCapabilityDisclosureAllowed -bool true

debug "[🏞           Safari] Preferences | Privacy | Allow privacy-preserving measurements of ad effectiveness"
### Allow privacy-preserving measurements of ad effectiveness
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.Safari WebKitPreferences.privateClickMeasurementEnabled -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Preferences | Advanced
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Preferences | Advanced | Smart Search Field: Show full website address"
### Smart Search Field: Show full website address
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.Safari ShowFullURLInSmartSearchField -bool true

debug "[🏞           Safari] Preferences | Advanced | Accessibility: Never use font sizes smaller than"
### Accessibility: Never use font sizes smaller than
# options:
#   - unchecked: 0
#   - checked: dropdown value
# dropdown:
#   - 9
#   - 10
#   - 11
#   - 12
#   - 14
#   - 18
#   - 24
# default: unchecked
defaults write com.apple.Safari WebKitMinimumFontSize -int 0
defaults write com.apple.Safari WebKitPreferences.minimumFontSize -int 0

debug "[🏞           Safari] Preferences | Advanced | Accessibility: Press Tab to hightlight each item on a webpage"
### Accessibility: Press Tab to hightlight each item on a webpage
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.Safari WebKitPreferences.tabFocusesLinks -bool true
defaults write com.apple.Safari WebKitTabToLinksPreferenceKey -bool true

debug "[🏞           Safari] Preferences | Advanced | Accessibility: Show color in compact tab bar"
### Accessibility: Show color in compact tab bar
# options:
#   - unchecked: true
#   - checked: false
# default: checked
defaults write com.apple.Safari NeverUseBackgroundColorInToolbar -bool false

debug "[🏞           Safari] Preferences | Advanced | Reading List: Save articles for offline reading automatically"
### Reading List: Save articles for offline reading automatically
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.Safari ReadingListSaveArticlesOfflineAutomatically -bool false

debug "[🏞           Safari] Preferences | Advanced | Default encoding:"
### Default encoding:
# default: Western (ISO Latin 1)
defaults write com.apple.Safari WebKitDefaultTextEncodingName -string "iso-8859-1"
defaults write com.apple.Safari WebKitPreferences.defaultTextEncodingName -string "iso-8859-1"

debug "[🏞           Safari] Preferences | Advanced | Show Develop menu in menu bar"
### Show Develop menu in menu bar
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.Safari IncludeDevelopMenu -bool true
defaults write com.apple.Safari.SandboxBroker ShowDevelopMenu -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Menu | View
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Menu | View | Always Show Tab Bar"
### Always Show Tab Bar
# options:
#   - unchecked: false
#   - checked: true
defaults write com.apple.Safari AlwaysShowTabBar -bool true

debug "[🏞           Safari] Menu | View | Show Favorites Bar"
### Show/Hide Favorites Bar
# options:
#   - Show Favorites Bar: true
#   - Hide Favorites Bar: false
# default: Hide Favorites Bar
defaults write com.apple.Safari ShowFavoritesBar-v2 -bool true

debug "[🏞           Safari] Menu | View | Show Status Bar"
### Show/Hide Status Bar
# options:
#   - Show Status Bar: true
#   - Hide Status Bar: false
# default: Hide Status Bar
defaults write com.apple.Safari ShowOverlayStatusBar -bool true

debug "[🏞           Safari] Menu | View | Hide Sidebar"
### Show/Hide Sidebar
# options:
#   - Show Sidebar: true
#   - Hide Sidebar: false
# default: Hide Sidebar
defaults write com.apple.Safari ShowSidebarInNewWindows -bool false

# debug "[🏞           Safari] Menu | View | Show/Hide Bookmarks Sidebar"
### Show/Hide Bookmarks Sidebar
# options:
#   - Show Bookmarks Sidebar
#   - Hide Bookmarks Sidebar
# default: Hide Bookmarks Sidebar

# debug "[🏞           Safari] Menu | View | Show/Hide Reading List Sidebar"
### Show/Hide Reading List Sidebar
# options:
#   - Show Reading List Sidebar
#   - Hide Reading List Sidebar
# default: Hide Reading List Sidebar
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Safari | Additional Safari Settings
# --------------------------------------------------------------------------------------------------
debug "[🏞           Safari] Other | Find | Match Type"
### Find | Match Type
# options:
#   - Contains: false
#   - Begins With: true
# default: Begins With
  defaults write com.apple.Safari FindOnPageMatchesWordStartsOnly -bool false
# ==================================================================================================

info "[🏞           Safari] Configuration complete"
