#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "1Password" -icon "🔐"
LOG_LEVEL=5
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Installation
# --------------------------------------------------------------------------------------------------
{{ if .personal }}
debug "verifying installation." -category "1Password" -icon "🔐"

if ! check_binary op; then
  info "1password-cli is not installed." -category "1Password" -icon "🔐"
  info "installing 1password-cli." -category "1Password" -icon "🔐"
  brew install --cask "1password-cli"

  debug "validating installation of 1password-cli" -category "1Password" -icon "🔐"
  if ! check_binary op; then
    critical "1password-cli is not installed." -category "1Password" -icon "🔐"
  fi

else
  debug "1password-cli is installed." -category "1Password" -icon "🔐"

fi

info "configuring 1password-cli." -category "1Password" -icon "🔐"
op_email={{ .personal_op_email }}

info "checking 1Password status." -category "1Password" -icon "🔐"

if ! (op account list | grep -q "${op_email}"); then
  info "adding account." -category "1Password" -icon "🔐"
  op account add --address my.1password.com --email "${op_email}"
  info "unlocking 1Password" -category "1Password" -icon "🔐"
  eval $(op signin --account my.1password.com)
fi
{{ end }}
# ==================================================================================================
