#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
{{ template "script_check_darwin" . }}
{{ template "script_check_workstation" . }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Prepare Transmit
# --------------------------------------------------------------------------------------------------
info "[🚛        Transmit] Setting log level to debug"
LOG_LEVEL=7

info "[🚛        Transmit] Closing Transmit, to prevent it from overriding changes"
osascript -e 'tell application "Transmit" to quit'
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Transmit | Preferences | General
# --------------------------------------------------------------------------------------------------
### Default FTP Client
# default | Finder

### Terminal
# default | Terminal

### Windows open with:
# default | ${HOME}, "None"

### Connect to servers automatically
# default | unchecked

### Tab title shows
# default | Server

### File Editor Font
# default | Menlo Regular 11

### Privacy: Automatically download S3 region updates
# default | checked
debug "[🚛        Transmit] Preferences | General | Privacy: Automatically download S3 region updates"
#   option --> checked
defaults write com.panic.Transmit DownloadS3RegionUpdates -bool true
#   option --> unchecked
# defaults write com.panic.Transmit DownloadS3RegionUpdates -bool false

### Privacy: Send crash reports
# default | checked
debug "[🚛        Transmit] Preferences | General | Privacy: Send crash reports"
#   option --> checked
defaults write com.panic.Transmit AllowCrashReportCollection -bool true
#   option --> unchecked
# defaults write com.panic.Transmit AllowCrashReportCollection -bool false

### Privacy: Send anonymous usage statistics
# default | checked
debug "[🚛        Transmit] Preferences | General | Privacy: Send anonymous usage statistics"
#   option --> checked
defaults write com.panic.Transmit AllowDataCollection -bool true
#   option --> unchecked
# defaults write com.panic.Transmit AllowDataCollection -bool false

### Privacy: Check for important announcements
# default | checked
debug "[🚛        Transmit] Preferences | General | Privacy: Check for important announcements"
#   option --> checked
defaults write com.panic.Transmit AllowSoapbox -bool true
#   option --> unchecked
# defaults write com.panic.Transmit AllowSoapbox -bool false

### Software Updates
# default | Automatically download and install
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Transmit | Preferences | Files
# --------------------------------------------------------------------------------------------------
### Ask before deleting items
# default | checked

### Double Click Action
# default | Transfer
debug "[🚛        Transmit] Preferences | Files | Double Click Action"
#   option --> Do Nothing
#   option --> Transfer
#   option --> Edit
# defaults write com.panic.Transmit DoubleClickAction -int 2
#   option --> Edit in External Editor
defaults write com.panic.Transmit DoubleClickAction -int 3
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Transmit | Preferences | Transfers
# --------------------------------------------------------------------------------------------------
### When an item already exists...: Downloading files
# default | Ask me what to do

### When an item already exists...: Downloading folders
# default | Ask me what to do

### When an item already exists...: Uploading files
# default | Ask me what to do

### When an item already exists...: Uploading folders
# default | Ask me what to do

### Bandwidth: Limit uploads to
# default | unchecked, 500 KB/s

### Bandwidth: Limit downloads to
# default | unchecked, 500 KB/s

### Transfer up to <value> files simultaneously
# default | 5

### Options: Use passive (PASV) mode for data transfers
# default | checked

### Options: Play <value> when complete
# default | unchecked, System Alert

### Options: Open files after downloading
# default | unchecked

### Remove activity items
# default | manually

### FTP ASCII File Extensions
# default | [c, cgi, cp, cpp, css, h, hqx, htaccess, htm, html, java, js, l, m, p, pas, php, php3, pl, pm, py, rb, rhtml, rxml, sh, shtml, txt, uu, uue, y]
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Transmit | Preferences | Advanced
# --------------------------------------------------------------------------------------------------
### Proxy Server Type
# default | None

### Proxy Server
# default | null

### Proxy Port
# default | null

### Proxy User Name
# default | null

### Proxy Password
# default | null

### SFTP Proxy Password
# default | null

### FTP Transfer Mode
# default | Binary

### FTP Transfer Mode: Try to keep idle connections alive
# default | unchecked

### FTP Transfer Mode: Verbose logging
# default | unchecked

### Server Type
# default | Default

### List Spacing
# default | Default

### Text Encoding
# default | Default

### Text Composition
# default | UTF-8 NFC

### TLS
# default | 1.2

### Network
# default | unchecked, limit server to <null> connections

### Connect Timeout
# default | 120

### Busy Retry
# default | Off

### Advanced: Preserve modification dates
# default | unchecked

### Advanced: Check for editing conflicts
# default | checked

### Advanced: Tickle server during long transfers
# default | unchecked

### Advanced: Use FEAT command
# default | checked

### Advanced: Use MLST command
# default | checked

### Advanced: Use CCC command
# default | unchecked

### Advanced: Use PRET command
# default | unchecked
# ==================================================================================================

info "[🚛        Transmit] Configuration complete"
