#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
{{ template "script_check_darwin" . }}
{{ template "script_check_workstation" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Prepare iTerm2
# --------------------------------------------------------------------------------------------------
if [ "${TERM_PROGRAM}" == "iTerm.app" ]; then
  error "[🧾          iTerm2] iTerm2 is unable to be configured while running. Re-run \`chezmoi apply\` from another terminal, such as Terminal.app"
  exit 0
fi

info "[🧾          iTerm2] Setting log level to debug"
LOG_LEVEL=7

info "[🧾          iTerm2] Closing iTerm2, to prevent it from overriding changes"
osascript -e 'tell application "iTerm" to quit'
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   iTerm2 | Preferences | General | Preferences
# --------------------------------------------------------------------------------------------------
### Load preferences from a custom folder or URL
# default | unchecked
debug "[🧾          iTerm2] Preferences | General | Preferences | Load preferences from a custom folder or URL"
#   option --> checked
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
#   option --> unchecked
# defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool false

### Load preferences from a custom folder or URL
# default | null
debug "[🧾          iTerm2] Preferences | General | Preferences | Custom folder or url"
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "{{ .chezmoi.sourceDir }}/dot_config/iterm2"
# ==================================================================================================

info "[🧾          iTerm2] Configuration complete"
