#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
info "[📅     Fantastical] Setting log level to debug"
LOG_LEVEL=7

info "[📅     Fantastical] Closing Fantastical, to prevent it from overriding changes"
osascript -e 'tell application "Fantastical" to quit'
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | General
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Appearance
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Events & Tasks
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Alerts
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Calendars
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Openings
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Weather
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Advanced
# --------------------------------------------------------------------------------------------------

# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Preferences | Update
# --------------------------------------------------------------------------------------------------
debug "[📅     Fantastical] Preferences | Update | Automatically check for updates | checked"
### Automatically check for updates
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.flexibits.fantastical2.mac SUEnableAutomaticChecks -bool true

debug "[📅     Fantastical] Preferences | Update | Include anonymous system profile | unchecked"
### Include anonymous system profile
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.flexibits.fantastical2.mac SUSendProfileInfo -bool false
# ==================================================================================================

info "[📅     Fantastical] Configuration complete"
