#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Homebrew"
LOG_CATEGORY_ICON="🍺"
info "Setting log level to debug."
LOG_LEVEL=5

if ! check_binary brew; then
  info "Application is not installed"
  exit 0
else
  debug "Application is installed"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Install Homebrew Bundles
# --------------------------------------------------------------------------------------------------
info "Installing Homebrew packages"
brew bundle install --no-upgrade --no-lock --file=/dev/stdin <<EOF
{{ template "Brewfile.tmpl" . }}
EOF
# ==================================================================================================
