#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "Brew Bundles" -icon "🍺"
LOG_LEVEL=5

debug "validating installation of homebrew." -category "Brew Bundles" -icon "🍺"
if ! check_binary brew; then
  error "homebrew is not installed." -category "Brew Bundles" -icon "🍺"
  exit 0
fi

debug "validating installation of mas." -category "Brew Bundles" -icon "🍺"
if ! check_binary mas; then
  error "mas is not installed." -category "Brew Bundles" -icon "🍺"
  exit 0
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew Bundles
# --------------------------------------------------------------------------------------------------
info "installing homebrew bundle." -category "Brew Bundles" -icon "🍺"
brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
{{ template "Brewfile" . }}
EOF
# ==================================================================================================
