#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Create user directories
# --------------------------------------------------------------------------------------------------
info "[📂            User] Creating directory: ${HOME}/Code/"
mkdir -p "${HOME}/Code"

{{ if .flags.is_personal }}
info "[📂            User] Creating directory: ${HOME}/Code/github.com/"{{ .personal.git.user | quote }}
mkdir -p "${HOME}/Code/github.com/"{{ .personal.git.user | quote }}
{{ end }}

{{ if .flags.is_work }}
info "[📂            User] Creating directory: ${HOME}/Code/bitbucket.org/"{{ .work.git.user | quote }}
mkdir -p "${HOME}/Code/bitbucket.org/"{{ .work.git.user | quote }}
{{ end }}

info "[📂            User] Creating directory: ${HOME}/Projects/"
mkdir -p "${HOME}/Projects"

info "[📂            User] Creating directory: ${HOME}/tmp/"
mkdir -p "${HOME}/tmp"
# ==================================================================================================
