#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Finder"
LOG_CATEGORY_ICON="🔍"
info "Setting log level to debug."
LOG_LEVEL=5

info "Closing Finder, to prevent it from overriding changes."
osascript -e 'tell application "Finder" to quit'
killall "cfprefsd"
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Settings | General
# --------------------------------------------------------------------------------------------------
### Show these items on the desktop: Hard disks
debug "Settings | General | Show these items on the desktop: Hard disks"
#   option --> checked
# defaults write com.apple.finder ShowHardDrivesOnDesktop -bool true
#   option [default] --> unchecked
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool false

### Show these items on the desktop: External disks
debug "Settings | General | Show these items on the desktop: External disks"
#   option [default] --> checked
# defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool true
#   option --> unchecked
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool false

### Show these items on the desktop: CDs, DVDs, and iPods
debug "Settings | General | Show these items on the desktop: CDs, DVDs, and iPods"
#   option [default] --> checked
# defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool true
#   option --> unchecked
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false

### Show these items on the desktop: Connected servers
debug "Settings | General | Show these items on the desktop: Connected servers"
#   option --> checked
# defaults write com.apple.finder ShowMountedServersOnDesktop -bool true
#   option [default] --> unchecked
defaults write com.apple.finder ShowMountedServersOnDesktop -bool false

### New Finder windows show:
debug "Settings | General | New Finder windows show:"
#   option --> ${HOME}
defaults write com.apple.finder NewWindowTarget -string "PfHm"
defaults write com.apple.finder NewWindowTargetPath -string "file://${HOME}/"
#   option --> Desktop
# defaults write com.apple.finder NewWindowTarget -string "PfDe"
# defaults write com.apple.finder NewWindowTargetPath -string "file://${HOME}/Desktop/"
#   option --> Documents
# defaults write com.apple.finder NewWindowTarget -string "PfDo"
# defaults write com.apple.finder NewWindowTargetPath -string "file://${HOME}/Documents/"
#   option --> iCloud Drive
# defaults write com.apple.finder NewWindowTarget -string "PfID"
# defaults write com.apple.finder NewWindowTargetPath -string "file://${HOME}/Library/Mobile%20Documents/com~apple~CloudDocs/"
#   option [default] --> Recents
# defaults write com.apple.finder NewWindowTarget -string "PfAF"
# defaults write com.apple.finder NewWindowTargetPath -string "file:///System/Library/CoreServices/Finder.app/Contents/Resources/MyLibraries/myDocuments.cannedSearch"
#   option --> Other
# defaults write com.apple.finder NewWindowTarget -string "PfLo"
# defaults write com.apple.finder NewWindowTargetPath -string "file:///${HOME}/Downloads"

### Open folders in tabs instead of new windows
debug "Settings | General | Open folders in tabs instead of new windows"
#   option [default] --> checked
defaults write com.apple.finder FinderSpawnTab -bool true
#   option --> unchecked
# defaults write com.apple.finder FinderSpawnTab -bool false
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Settings | Advanced
# --------------------------------------------------------------------------------------------------
### Show all filename extensions
debug "Settings | Advanced | Show all filename extensions"
#   option --> checked
defaults write NSGlobalDomain AppleShowAllExtensions -bool true
#   option [default] --> unchecked
# defaults write NSGlobalDomain AppleShowAllExtensions -bool false

### Show warning before changing an extension
debug "Settings | Advanced | Show warning before changing an extension"
#   option [default] --> checked
# defaults write com.apple.finder FXEnableExtensionChangeWarning -bool true
#   option --> unchecked
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

### Show warning before removing from iCloud Drive
debug "Settings | Advanced | Show warning before removing from iCloud Drive"
#   option [default] --> checked
defaults write com.apple.finder FXEnableRemoveFromICloudDriveWarning -bool true
#   option --> unchecked
# defaults write com.apple.finder FXEnableRemoveFromICloudDriveWarning -bool false

### Show warning before emptying the Trash
debug "Settings | Advanced | Show warning before emptying the Trash"
#   option [default] --> checked
defaults write com.apple.finder WarnOnEmptyTrash -bool true
#   option --> unchecked
# defaults write com.apple.finder WarnOnEmptyTrash -bool false

### Remove items from the Trash after 30 days
debug "Settings | Advanced | Remove items from the Trash after 30 days"
#   option --> checked
# defaults write com.apple.finder FXRemoveOldTrashItems -bool true
#   option [default] --> unchecked
defaults write com.apple.finder FXRemoveOldTrashItems -bool false

### Keep folders on top: In windows when sorting by name
debug "Settings | Advanced | Keep folders on top: In windows when sorting by name"
#   option --> checked
defaults write com.apple.finder _FXSortFoldersFirst -bool true
#   option [default] --> unchecked
# defaults write com.apple.finder _FXSortFoldersFirst -bool false

### Keep folders on top: On Desktop
debug "Settings | Advanced | Keep folders on top: On Desktop"
#   option --> checked
defaults write com.apple.finder _FXSortFoldersFirstOnDesktop -bool true
#   option [default] --> unchecked
# defaults write com.apple.finder _FXSortFoldersFirstOnDesktop -bool false

### When performing a search
debug "Settings | Advanced | When performing a search"
#   option [default] --> Search This Mac
# defaults write com.apple.finder FXDefaultSearchScope -string "SCev"
#   option --> Search The Current Folder
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"
#   option --> Use the Previous Search Scope
# defaults write com.apple.finder FXDefaultSearchScope -string "SCsp"
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Menu | View
# --------------------------------------------------------------------------------------------------
### View Options
debug "Menu | View | View Options"
#   option [default] --> as Icons
# defaults write com.apple.Finder FXPreferredViewStyle -string "icnv"
#   option --> as List
defaults write com.apple.Finder FXPreferredViewStyle -string "Nlsv"
#   option --> as Columns
# defaults write com.apple.Finder FXPreferredViewStyle -string "clmv"
#   option --> as Gallery
# defaults write com.apple.Finder FXPreferredViewStyle -string "Flwv"

### Show/Hide Sidebar
debug "Menu | View | Show Sidebar"
#   option [default] --> Show Sidebar
defaults write com.apple.finder ShowSidebar -bool true
#   option --> Hide Sidebar
# defaults write com.apple.finder ShowSidebar -bool false

### Show/Hide Preview
debug "Menu | View | Hide Preview"
#   option --> Show Preview
# defaults write com.apple.finder ShowPreviewPane -bool true
#   option [default] --> Hide Preview
defaults write com.apple.finder ShowPreviewPane -bool false

### Show/Hide Tab Bar
debug "Menu | View | Show Tab Bar"
#   option --> Show Tab Bar
defaults write com.apple.finder NSWindowTabbingShoudShowTabBarKey-com.apple.finder.TBrowserWindow -bool true
#   option [default] --> Hide Tab Bar
# defaults write com.apple.finder NSWindowTabbingShoudShowTabBarKey-com.apple.finder.TBrowserWindow -bool false

### Show/Hide Path Bar
debug "Menu | View | Show Path Bar"
#   option --> Show Path Bar
defaults write com.apple.finder ShowPathbar -bool true
#   option [default] --> Hide Path Bar
# defaults write com.apple.finder ShowPathbar -bool false

### Show/Hide Status Bar
debug "Menu | View | Show Status Bar"
#   option --> Show Status Bar
defaults write com.apple.finder ShowStatusBar -bool true
#   option [default] --> Hide Status Bar
# defaults write com.apple.finder ShowStatusBar -bool false
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Additional Finder Settings
# --------------------------------------------------------------------------------------------------
### Show hidden files by default
debug "Settings | Additional Finder Settings | Show hidden files by default"
defaults write com.apple.finder AppleShowAllFiles -bool true

# Expand save panel by default
debug "Settings | Additional Finder Settings | Expand save panel by default"
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true
# ==================================================================================================

info "Configuration complete."
