#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Sudo
# --------------------------------------------------------------------------------------------------
{{ template "script_sudo" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   sudo-touchid
# --------------------------------------------------------------------------------------------------
info "[👇        Touch ID] Enable sudo-touchid"
sudo-touchid

# info "[👇        Touch ID] Auto-run sudo-touchid on system launch"
# sudo brew services start sudo-touchid
# ==================================================================================================
