#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "User" -icon "👤"
LOG_LEVEL=5
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Create user directories
# --------------------------------------------------------------------------------------------------
info "creating directory: ${HOME}/Code/" -category "User" -icon "👤"
mkdir -p "${HOME}/Code"

{{ if .personal }}
info "creating directory: ${HOME}/Code/github.com/"{{ .personal_git_user | quote }} -category "User" -icon "👤"
mkdir -p "${HOME}/Code/github.com/"{{ .personal_git_user | quote }}
{{ end }}

info "creating directory: ${HOME}/Projects/" -category "User" -icon "👤"
mkdir -p "${HOME}/Projects"

info "creating directory: ${HOME}/tmp/" -category "User" -icon "👤"
mkdir -p "${HOME}/tmp"
# ==================================================================================================
