#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "iTerm2" -icon "🧾"
LOG_LEVEL=5

debug "validating installation of iterm2." -category "iTerm2" -icon "🧾"
if ! check_macos_app "iTerm.app"; then
  error "iterm2 is not installed." -category "iTerm2" -icon "🧾"
  exit 0
else
  debug "iterm2 is installed." -category "iTerm2" -icon "🧾"
  info "closing iterm2, to prevent it from overriding changes." -category "iTerm2" -icon "🧾"
  osascript -e 'tell application "iTerm" to quit'
  killall "cfprefsd"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   iTerm2 | Settings | General | Preferences
# --------------------------------------------------------------------------------------------------
### Load preferences from a custom folder or URL
debug "iTerm2 | Settings | General | Preferences | Load preferences from a custom folder or URL"
#   option --> checked
defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool true
#   option [default] --> unchecked
# defaults write com.googlecode.iterm2.plist LoadPrefsFromCustomFolder -bool false

### Load preferences from a custom folder or URL | Path
debug "iTerm2 | Settings | General | Preferences | Load preferences from a custom folder or URL | Path"
# default | null
defaults write com.googlecode.iterm2.plist PrefsCustomFolder -string "{{ .chezmoi.sourceDir }}/dot_config/iterm2"
# ==================================================================================================

info "configuration complete." -category "iTerm2" -icon "🧾"
