#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :   Install Homebrew packages
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_LEVEL=5 # debug

debug "Verifying installation of homebrew" -category "Brew Bundles" -icon "🍺"
if ! check_binary brew; then
  error "Homebrew is not installed" -category "Brew Bundles" -icon "🍺"
  exit 0
fi

debug "Verifying installation of mas" -category "Brew Bundles" -icon "🍺"
if ! check_binary mas; then
  error "MAS is not installed" -category "Brew Bundles" -icon "🍺"
  exit 0
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew Bundles
# --------------------------------------------------------------------------------------------------
# hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
info "Installing applications with Homebrew" -category "Homebrew" -icon "🍺"
brew bundle --all --file "{{ .chezmoi.homeDir }}/.config/homebrew/Brewfile"
# ==================================================================================================
