#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :   Configure sudo
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_LEVEL=5 # debug
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   TouchID for sudo
# --------------------------------------------------------------------------------------------------
info "Verifying TouchID for sudo" -category "TouchID" -icon "👇"
if ! grep -q pam_tid.so /etc/pam.d/sudo; then
  info "Administrator password is required for \`sudo\` operations in this script" -category "TouchID" -icon "👇"
  {{ template "script-sudo" }}
  sudo gsed -i '2iauth        sufficient     pam_tid.so' /etc/pam.d/sudo
else
  debug "TouchID for sudo is configured" -category "TouchID" -icon "👇"
fi
# ==================================================================================================
