#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Get script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
# info "[🔐        Lastpass] Setting log level to debug."
# LOG_LEVEL=7
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Lastpass
# --------------------------------------------------------------------------------------------------
{{ if .personal }}
debug "[🔐        Lastpass] Verifying installation."

if ! check_binary lpass; then
  info "[🔐        Lastpass] Application is not installed."
  info "[🔐        Lastpass] Installing lastpass-cli, the Lastpass command line interface tool."
  brew install "lastpass-cli"

else
  debug "[🔐        Lastpass] Application is installed."

fi

info "[🔐        Lastpass] Configuring lastpass-cli."
lastpass_email={{- .personal_lastpass_email }}

debug "[🔐        Lastpass] Checking lastpass-cli status."
lpass_status="$(lpass status)"

if [[ "${lpass_status}" =~ "Logged in as ${lastpass_email}" ]]; then
  debug "[🔐        Lastpass] Already logged into lastpass-cli."

else
  info "[🔐        Lastpass] Logging into lastpass-cli."
  lpass login "${lastpass_email}"

fi

debug "[🔐        Lastpass] lastpass-cli configured."

{{ else }}
debug "[🔐        Lastpass] Skipping. Does not apply to this Chezmoi profile."

{{ end }}
# ==================================================================================================
