#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
{{ template "script_check_darwin" . }}
{{ template "script_check_workstation" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Sudo
# --------------------------------------------------------------------------------------------------
{{ template "script_sudo" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   sudo-touchid
# --------------------------------------------------------------------------------------------------
{{ if .workstation }}
info "[👇        Touch ID] Install sudo-touchid"
brew install "artginzburg/tap/sudo-touchid"

info "[👇        Touch ID] Enable sudo-touchid"
sudo-touchid

# info "[👇        Touch ID] Auto-run sudo-touchid on system launch"
# sudo brew services start sudo-touchid
{{ end }}
# ==================================================================================================
