#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
{{ template "script_check_darwin" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Lastpass
# --------------------------------------------------------------------------------------------------
{{ if (.personal) }}
info "[🔐  Lastpass] Looking for lastpass-cli"

if ! check_binary lpass; then
  info "[🔐  Lastpass] Not installed"
  info "[🔐  Lastpass] Installing lastpass-cli, the Lastpass command line interface tool"
  brew install "lastpass-cli"
else
  info "[🔐  Lastpass] Already installed"
fi

info "[🔐  Lastpass] Setting up lastpass-cli"
lastpass_email={{- .personal_lastpass_email }}

info "[🔐  Lastpass] Checking lastpass-cli status"
lpass_status="$(lpass status)"
if [[ "${lpass_status}" =~ "Logged in as ${lastpass_email}" ]]; then
  info "[🔐  Lastpass] Already logged into lastpass-cli"
else
  info "[🔐  Lastpass] Logging into lastpass-cli"
  lpass login "${lastpass_email}"
fi
{{ end }}
# ==================================================================================================
