#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
info "[🔍          Finder] Setting log level to debug"
LOG_LEVEL=7

info "[🔍          Finder] Closing Finder, to prevent it from overriding changes"
osascript -e 'tell application "Finder" to quit'
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Preferences | General
# --------------------------------------------------------------------------------------------------
debug "[📅     Fantastical] Preferences | General | Show these items on the desktop: Hard disks"
### Show these items on the desktop: Hard disks
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.finder ShowHardDrivesOnDesktop -bool false

debug "[📅     Fantastical] Preferences | General | Show these items on the desktop: External disks"
### Show these items on the desktop: External disks
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool false

debug "[📅     Fantastical] Preferences | General |Show these items on the desktop: CDs, DVDs, and iPods"
### Show these items on the desktop: CDs, DVDs, and iPods
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool false

debug "[📅     Fantastical] Preferences | General | Show these items on the desktop: Connected servers"
### Show these items on the desktop: Connected servers
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.finder ShowMountedServersOnDesktop -bool false

debug "[📅     Fantastical] Preferences | General | New Finder windows show:"
### New Finder windows show:
# options:
# - Home: "PfHm", "file://${HOME}/"
# - Desktop: "PfDe", "file://${HOME}/Desktop/"
# - Documents: "PfDo", "file://${HOME}/Documents/"
# - iCloud Drive: "PfID", "file://${HOME}/Library/Mobile%20Documents/com~apple~CloudDocs/"
# - Recents: "PfAF", "file:///System/Library/CoreServices/Finder.app/Contents/Resources/MyLibraries/myDocuments.cannedSearch"
# - Other: "PfLo", "file:///${HOME}/Downloads"
# default: Recents
defaults write com.apple.finder NewWindowTarget -string "PfHm"
defaults write com.apple.finder NewWindowTargetPath -string "file://${HOME}/"

debug "[📅     Fantastical] Preferences | General | Open folders in tabs instead of new windows"
### Open folders in tabs instead of new windows
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.finder FinderSpawnTab -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Preferences | Sidebar
# --------------------------------------------------------------------------------------------------
# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Recents"
### Show these items in the sidebar: Favorites: Recents
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: AirDrop"
### Show these items in the sidebar: Favorites: AirDrop
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Applications"
### Show these items in the sidebar: Favorites: Applications
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Desktop"
### Show these items in the sidebar: Favorites: Desktop
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Documents"
### Show these items in the sidebar: Favorites: Documents
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Downloads"
### Show these items in the sidebar: Favorites: Downloads
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Movies"
### Show these items in the sidebar: Favorites: Movies
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Music"
### Show these items in the sidebar: Favorites: Music
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: Pictures"
### Show these items in the sidebar: Favorites: Pictures
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Favorites: ${HOME}"
### Show these items in the sidebar: Favorites: ${HOME}
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: iCloud: iCloud Drive"
### Show these items in the sidebar: iCloud: iCloud Drive
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: iCloud: Shared"
### Show these items in the sidebar: iCloud: Shared
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: $(hostname)"
### Show these items in the sidebar: Locations: $(hostname)
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: Hard disks"
### Show these items in the sidebar: Locations: Hard disks
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: External disks"
### Show these items in the sidebar: Locations: External disks
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: CD's, DVD's, and iOS Devices"
### Show these items in the sidebar: Locations: CD's, DVD's, and iOS Devices
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: Cloud Storage"
### Show these items in the sidebar: Locations: Cloud Storage
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: Bonjour computers"
### Show these items in the sidebar: Locations: Bonjour computers
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Locations: Connected servers"
### Show these items in the sidebar: Locations: Connected servers
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Preferences | Sidebar | Show these items in the sidebar: Tags: Recent Tags"
### Show these items in the sidebar: Tags: Recent Tags
# options:
#   - unchecked
#   - checked
# default: checked
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Preferences | Advanced
# --------------------------------------------------------------------------------------------------
debug "[📅     Fantastical] Preferences | Advanced | Show all filename extensions"
### Show all filename extensions
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write NSGlobalDomain AppleShowAllExtensions -bool true

debug "[📅     Fantastical] Preferences | Advanced | Show warning before changing an extension"
### Show warning before changing an extension
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.finder FXEnableExtensionChangeWarning -bool false

debug "[📅     Fantastical] Preferences | Advanced | Show warning before removing from iCloud Drive"
### Show warning before removing from iCloud Drive
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.finder FXEnableRemoveFromICloudDriveWarning -bool true

debug "[📅     Fantastical] Preferences | Advanced | Show warning before emptying the Trash"
### Show warning before emptying the Trash
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.finder WarnOnEmptyTrash -bool true

debug "[📅     Fantastical] Preferences | Advanced | Remove items from the Trash after 30 days"
### Remove items from the Trash after 30 days
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.finder FXRemoveOldTrashItems -bool false

debug "[📅     Fantastical] Preferences | Advanced | Keep folders on top: In windows when sorting by name"
### Keep folders on top: In windows when sorting by name
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.finder _FXSortFoldersFirst -bool true

debug "[📅     Fantastical] Preferences | Advanced | Keep folders on top: On Desktop"
### Keep folders on top: On Desktop
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.finder _FXSortFoldersFirstOnDesktop -bool true

debug "[📅     Fantastical] Preferences | Advanced | When performing a search"
### When performing a search
# options:
#   - Search This Mac, SCev
#   - Search The Current Folder, SCcf
#   - Use the Previous Search Scope, SCsp
# default: Search This Mac
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Menu | View

# --------------------------------------------------------------------------------------------------
debug "[📅     Fantastical] Menu | View | View Options"
### View Options
# options:
# - as Icons: "icnv"
# - as List: "Nlsv"
# - as Columns: "clmv"
# - as Gallery: "Flwv"
# default: as Icons
defaults write com.apple.Finder FXPreferredViewStyle -string "Nlsv"

debug "[📅     Fantastical] Menu | View | Show Sidebar"
### Show/Hide Sidebar
# options:
#   - Show Sidebar: true
#   - Hide Sidebar: false
# default: Show Sidebar
defaults write com.apple.finder ShowSidebar -bool true

debug "[📅     Fantastical] Menu | View | Hide Preview"
### Show/Hide Preview
# options:
#   - Show Preview: true
#   - Hide Preview: false
# default: Hide Preview
defaults write com.apple.finder ShowPreviewPane -bool false

# debug "[📅     Fantastical] Menu | View | Show/Hide Toolbar"
### Show/Hide Toolbar
# options:
#   - Show Toolbar
#   - Hide Toolbar
# default: Show Toolbar

debug "[📅     Fantastical] Menu | View | Show Tab Bar"
### Show/Hide Tab Bar
# options:
#   - Show Tab Bar: true
#   - Hide Tab Bar: false
# default: Hide Tab Bar
defaults write com.apple.finder NSWindowTabbingShoudShowTabBarKey-com.apple.finder.TBrowserWindow -bool true

debug "[📅     Fantastical] Menu | View | Show Path Bar"
### Show/Hide Path Bar
# options:
#   - Show Path Bar: true
#   - Hide Path Bar: false
# default: Hide Path Bar
defaults write com.apple.finder ShowPathbar -bool true

debug "[📅     Fantastical] Menu | View | Show Status Bar"
### Show/Hide Status Bar
# options:
#   - Show Status Bar: true
#   - Hide Status Bar: false
# default: Hide Status Bar
defaults write com.apple.finder ShowStatusBar -bool true

# debug "[📅     Fantastical] Menu | View | View Options: Always open in list view"
### View Options: Always open in list view
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Browse in list view"
### View Options: Browse in list view
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Group By:"
### View Options: Group By:
# options:
#   - None
#   - Name
#   - Kind
#   - Application
#   - Date Last Opened
#   - Date Added
#   - Date Modified
#   - Date Created
#   - Size
#   - Tags
# default: None

# debug "[📅     Fantastical] Menu | View | View Options: Sort By:"
### View Options: Sort By:
# options:
#   - Name
#   - Kind
#   - Date Last Opened
#   - Date Added
#   - Date Modified
#   - Date Created
#   - Size
#   - Tags
# default: Name

# debug "[📅     Fantastical] Menu | View | View Options: Icon size:"
### View Options: Icon size:
# options:
# default: small

# debug "[📅     Fantastical] Menu | View | View Options: Text size"
### View Options: Text size
# options:
# default: 13

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: iCloud Status"
### View Options: Show Columns: iCloud Status
# options:
#   - unchecked
#   - checked
# default: n/a

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Last Modified By"
### View Options: Show Columns: Last Modified By
# options:
#   - unchecked
#   - checked
# default: n/a

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Shared By"
### View Options: Show Columns: Shared By
# options:
#   - unchecked
#   - checked
# default: n/a

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Date Modified"
### View Options: Show Columns: Date Modified
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Date Created"
### View Options: Show Columns: Date Created
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Date Last Opened"
### View Options: Show Columns: Date Last Opened
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Date Added"
### View Options: Show Columns: Date Added
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Size"
### View Options: Show Columns: Size
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Kind"
### View Options: Show Columns: Kind
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Version"
### View Options: Show Columns: Version
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Comments"
### View Options: Show Columns: Comments
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Show Columns: Tags"
### View Options: Show Columns: Tags
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Use relative dates"
### View Options: Use relative dates
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Menu | View | View Options: Calculate all sizes"
### View Options: Calculate all sizes
# options:
#   - unchecked
#   - checked
# default: unchecked

# debug "[📅     Fantastical] Menu | View | View Options: Show icon preview"
### View Options: Show icon preview
# options:
#   - unchecked
#   - checked
# default: checked

# debug "[📅     Fantastical] Menu | View | View Options: Show Library Folder"
### View Options: Show Library Folder
# options:
#   - unchecked, nohidden
#   - checked, hidden
# default: unchecked
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Finder | Additional Finder Settings
# --------------------------------------------------------------------------------------------------
debug "[📅     Fantastical] Preferences | Additional Finder Settings | Show hidden files by default"
### Show hidden files by default
defaults write com.apple.finder AppleShowAllFiles -bool true

debug "[📅     Fantastical] Preferences | Additional Finder Settings | Expand save panel by default"
# Expand save panel by default
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true
# ==================================================================================================

info "[🔍          Finder] Configuration complete"
