#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "setting log level to debug." -category "Fantastical" -icon "📅"
LOG_LEVEL=5

debug "validating installation of fantastical." -category "Fantastical" -icon "📅"
if ! check_macos_app "Fantastical.app"; then
  error "fantastical is not installed." -category "Fantastical" -icon "📅"
  exit 0
else
  debug "fantastical is installed." -category "Fantastical" -icon "📅"
  info "closing fantastical, to prevent it from overriding changes." -category "Fantastical" -icon "📅"
  osascript -e 'tell application "Fantastical" to quit'
  killall "cfprefsd"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Fantastical | Settings | Advanced
# --------------------------------------------------------------------------------------------------
### Automatically check for updates
debug "Settings | Advanced | Automatically check for updates | checked" -category "Fantastical" -icon "📅"
#   option [default] --> checked
defaults write com.flexibits.fantastical2.mac SUEnableAutomaticChecks -bool true
#   option --> unchecked
# defaults write com.flexibits.fantastical2.mac SUEnableAutomaticChecks -bool false

### Include anonymous system profile
# default: checked
debug "Settings | Advanced | Include anonymous system profile | unchecked" -category "Fantastical" -icon "📅"
#   option [default] --> checked
# defaults write com.flexibits.fantastical2.mac SUSendProfileInfo -bool true
#   option --> unchecked
defaults write com.flexibits.fantastical2.mac SUSendProfileInfo -bool false
# ==================================================================================================

info "configuration complete." -category "Fantastical" -icon "📅"
