#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight checks
# --------------------------------------------------------------------------------------------------
info "[🍀       Sys Prefs] Setting log level to debug"
LOG_LEVEL=7

info "[🍀       Sys Prefs] Closing any System Preferences panes, to prevent them from overriding changes"
osascript -e 'tell application "System Preferences" to quit'
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | General
# --------------------------------------------------------------------------------------------------
### Appearance
debug "[🍀       Sys Prefs] Preferences | General | Appearance"
# default: Light

# option: Light
osascript -e 'tell application "System Events" to tell appearance preferences to set dark mode to false'
# option: Dark
# osascript -e 'tell application "System Events" to tell appearance preferences to set dark mode to true'
# option: Auto

# this toggles it between light and dark
# osascript -e 'tell application "System Events" to tell appearance preferences to set dark mode to not dark mode'

### Accent color
# debug "[🍀       Sys Prefs] Preferences | General | Accent color"
# default: Multicolor
# options:
#   - multicolor: nil, 1
#   - Blue: 4, 1
#   - Purple: 5,1
#   - Pink: 6,1
#   - Red: 0,1
#   - Orange: 1,1
#   - Yellow: 2,1
#   - Green: 3,1
#   - Graphite: -1,6
# defaults delete NSGlobalDomain AppleAccentColor
# defaults write NSGlobalDomain AppleAquaColorVariant -int 1

### Highlight color
# debug "[🍀       Sys Prefs] Preferences | General | Highlight color"
# default: Accent Color
# options:
#   - Accent Color
#   - Blue: null
#   - Purple: "0.968627 0.831373 1.000000 Purple"
#   - Pink: "1.000000 0.749020 0.823529 Pink"
#   - Red: "1.000000 0.733333 0.721569 Red"
#   - Orange: "1.000000 0.874510 0.701961 Orange"
#   - Yellow: "1.000000 0.937255 0.690196 Yellow"
#   - Green: "0.752941 0.964706 0.678431 Green"
#   - Graphite: "0.847059 0.847059 0.862745 Graphite"
#   - Other
# defaults delete NSGlobalDomain AppleHighlightColor

### Sidebar icon size
# debug "[🍀       Sys Prefs] Preferences | General | Sidebar icon size"
# default: Medium
# options:
#   - Small: 1
#   - Medium: 2
#   - Large: 3
# defaults write NSGlobalDomain NSTableViewDefaultSizeMode -int 2

### Allow wallpaper tinting in windows
# debug "[🍀       Sys Prefs] Preferences | General | Allow wallpaper tinting in windows"
# default: checked
# options:
#   - unchecked
#   - checked

### Show scroll bars:
# debug "[🍀       Sys Prefs] Preferences | General | Show scroll bars:"
# default: Automatically based on mouse or trackpad
# options:
#   - Automatically based on mouse or trackpad: Automatic
#   - When scrolling: WhenScrolling
#   - Always: Always
# defaults write NSGlobalDomain AppleShowScrollBars -string "Always"

### Click in the scroll bar to:
# debug "[🍀       Sys Prefs] Preferences | General | Click in the scroll bar to:"
# default: Jump to the next page
# options:
#   - Jump to the next page
#   - Jump to the spot that's clicked

### Default web browser
# debug "[🍀       Sys Prefs] Preferences | General | Default web browser"
# default: Safari.app
# options:
#   - Safari.app
#   - Google Chrome.app

### Prefer tabs
# debug "[🍀       Sys Prefs] Preferences | General | Prefer tabs"
# default: in full screen
# options:
#   - never
#   - in full screen
#   - always

### Ask to keep changes when closing documents
# debug "[🍀       Sys Prefs] Preferences | General | Ask to keep changes when closing documents"
# default: unchecked
# options:
#   - unchecked
#   - checked

### Close windows when quitting an app
# debug "[🍀       Sys Prefs] Preferences | General | Close windows when quitting an app"
# default: checked
# options:
#   - unchecked
#   - checked

### Recent items
# debug "[🍀       Sys Prefs] Preferences | General | Recent items"
# default: 10
# options:
#   - None
#   - 5
#   - 10
#   - 15
#   - 20
#   - 30
#   - 50

### Allow Handoff between this Mac and your iCloud devices
# debug "[🍀       Sys Prefs] Preferences | General | Allow Handoff between this Mac and your iCloud devices"
# default: checked
# options:
#   - unchecked
#   - checked
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Dock & Menu Bar
# --------------------------------------------------------------------------------------------------
### Size
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Size"
# default: 60
# slider:
#   - 16-128
defaults write com.apple.dock tilesize -int 48

### Magnification
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Magnification"
# default: unchecked, 128
# options:
#   - unchecked: false
#   - checked: true
# slider:
#   - 
defaults write com.apple.dock magnification -bool true
defaults write com.apple.dock largesize -int 64

### Position on screen
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Position on screen"
# options:
#   - Left: left
#   - Bottom: bottom
#   - Right: right
# default: Bottom
defaults write com.apple.dock orientation -string "bottom"

### Minimize windows using
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Minimize windows using"
# options:
#   - Genie effect: genie
#   - Scale effect: scale
# default: Genie effect
defaults write com.apple.dock mineffect -string "genie"

### Double-click a window's title bar to:
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Double-click a window's title bar to:"
# options:
#   - unchecked
#   - checked
# dropdown:
#   - minimize
#   - zoom
# default: checked, zoom

### Minimize windows into application icon
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Minimize windows into application icon"
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.dock minimize-to-application -bool true

### Animate opening applications
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Animate opening applications"
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.dock launchanim -bool true

### Automatically hide and show the Dock
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Automatically hide and show the Dock"
# options:
#   - unchecked: false
#   - checked: true
# default: unchecked
defaults write com.apple.dock autohide -bool false

### Show indicators for open applications
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Show indicators for open applications"
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.dock show-process-indicators -bool true

### Show recent applications in Dock
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Show recent applications in Dock"
# options:
#   - unchecked: false
#   - checked: true
# default: checked
defaults write com.apple.dock show-recents -bool false

### Menu Bar: Automatically hide and show the menu bar on desktop
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Menu Bar: Automatically hide and show the menu bar on desktop"
# options:
#   - unchecked
#   - checked
# default: unchecked

### Menu Bar: Automatically hide and show the menu bar in full screen
debug "[🍀       Sys Prefs] Preferences | Dock & Menu Bar | Menu Bar: Automatically hide and show the menu bar in full screen"
# options:
#   - unchecked
#   - checked
# default: checked
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Mission Control
# --------------------------------------------------------------------------------------------------
### Automatically rearrange Spaces based on most recent use
debug "[🍀       Sys Prefs] Preferences | Mission Control | Automatically rearrange Spaces based on most recent use"
# options:
#   - unchecked, false
#   - checked, true
# default: checked
defaults write com.apple.dock mru-spaces -bool false

### When switching to an application, switch to a Space with open windows for the application
# debug "[🍀       Sys Prefs] Preferences | Mission Control | When switching to an application, switch to a Space with open windows for the application"
# options:
#   - unchecked
#   - checked
# default: checked

### Group windows by application
debug "[🍀       Sys Prefs] Preferences | Mission Control | Group windows by application"
# options:
#   - unchecked, false
#   - checked, true
# default: unchecked
defaults write com.apple.dock expose-group-apps -bool false

### Displays have separate Spaces
# debug "[🍀       Sys Prefs] Preferences | Mission Control | Displays have separate Spaces"
# options:
#   - unchecked
#   - checked
# default: checked

### Keyboard and Mouse Shortcuts: Mission Control
# debug "[🍀       Sys Prefs] Preferences | Mission Control | Keyboard and Mouse Shortcuts: Mission Control"
# default: ^<up_arrow>

### Keyboard and Mouse Shortcuts: Application windows
# debug "[🍀       Sys Prefs] Preferences | Mission Control | Keyboard and Mouse Shortcuts: Application windows"
# default: ^<down_arrow>

### Keyboard and Mouse Shortcuts: Show Desktop
# debug "[🍀       Sys Prefs] Preferences | Mission Control | Keyboard and Mouse Shortcuts: Show Desktop"
# default: <blank>
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Siri
# --------------------------------------------------------------------------------------------------
### Enable Ask Siri
debug "[🍀       Sys Prefs] Preferences | Siri | Enable Ask Siri"
# default: unchecked

# option: unchecked
osascript <<EOF
  tell application "System Preferences"
    activate
    reveal pane id "com.apple.preference.speech"
    delay 1
  end tell

  tell application "System Events"
    tell process "System Preferences"
      if (value of checkbox 1 of window 1 as boolean) then
        click checkbox 1 of window 1
      end if
    end tell
  end tell

  tell application "System Preferences" to quit
EOF

# option: checked
# osascript <<EOF
#   tell application "System Preferences"
#     activate
#     reveal pane id "com.apple.preference.speech"
#     delay 1
#   end tell

#   tell application "System Events"
#     tell process "System Preferences"
#       if not (value of checkbox 1 of window 1 as boolean) then
#         click checkbox 1 of window 1
#       end if
#     end tell
#   end tell

#   tell application "System Preferences" to quit
# EOF

### Listen for "Hey Siri"
debug "[🍀       Sys Prefs] Preferences | Siri | Listen for \"Hey Siri\""
# options:
#   - unchecked
#   - checked
# default: unchecked

### Keyboard Shortcut
# debug "[🍀       Sys Prefs] Preferences | Siri | Keyboard Shortcut"
# default: Hold <mic_button>

### Language
# debug "[🍀       Sys Prefs] Preferences | Siri | Language"
# default: English (United States)

### Voice Variety
# debug "[🍀       Sys Prefs] Preferences | Siri | Voice Variety"
# default: American

### Siri Voice
# debug "[🍀       Sys Prefs] Preferences | Siri | Siri Voice"
# default: Voice 4

### Voice Feedback
# debug "[🍀       Sys Prefs] Preferences | Siri | Voice Feedback"
# default: on

### Show Siri in menu bar
# debug "[🍀       Sys Prefs] Preferences | Siri | Show Siri in menu bar"
# default: checked
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Spotlight
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Spotlight | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Language & Region
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Language & Region | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Notifications & Focus
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Notifications & Focus | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Wallet & Apple Pay
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Wallet & Apple Pay | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Users & Groups
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Users & Groups | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Accessibility
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Accessibility | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Screen Time
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Screen Time | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Extensions
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Extensions | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Security & Privacy
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Security & Privacy | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Software Update
# --------------------------------------------------------------------------------------------------
### Advanced: Check for updates
debug "[🍀       Sys Prefs] Preferences | Software Update | Advanced: Check for updates"
# options:
#   - unchecked
#   - checked
# default: checked
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate.plist AutomaticCheckEnabled -bool true

### Advanced: Download new updates when available
debug "[🍀       Sys Prefs] Preferences | Software Update | Advanced: Download new updates when available"
# options:
#   - unchecked
#   - checked
# default: checked
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate.plist AutomaticDownload -bool true

### Advanced: Install macOS updates
debug "[🍀       Sys Prefs] Preferences | Software Update | Advanced: Install macOS updates"
# options:
#   - unchecked
#   - checked
# default: checked
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate.plist AutomaticallyInstallMacOSUpdates -bool true

### Advanced: Install app updates from the App Store
debug "[🍀       Sys Prefs] Preferences | Software Update | Advanced: Install app updates from the App Store"
# options:
#   - unchecked
#   - checked
# default: checked
sudo defaults write /Library/Preferences/com.apple.commerce.plist AutoUpdate -bool true

### Advanced: Install system data files and security updates
debug "[🍀       Sys Prefs] Preferences | Software Update | Advanced: Install system data files and security updates"
# options:
#   - unchecked
#   - checked
# default: checked
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate.plist ConfigDataInstall -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate.plist CriticalUpdateInstall -bool true
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Network
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Network | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Bluetooth
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Bluetooth | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Sound
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Sound | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Touch ID
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Touch ID | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Keyboard
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Keyboard | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Trackpad
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Trackpad | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Mouse
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Mouse | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Battery
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Battery | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Date & Time
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Date & Time | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Sharing
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Sharing | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Time Machine
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Time Machine | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   System Preferences | Startup Disk
# --------------------------------------------------------------------------------------------------
# debug "[🍀       Sys Prefs] Preferences | Startup Disk | "
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Additional System Settings
# --------------------------------------------------------------------------------------------------
debug "[🍀       Sys Prefs] Additional System Settings | Show the /Volumes folder"
### Show the /Volumes folder
sudo chflags nohidden /Volumes

debug "[🍀       Sys Prefs] Additional System Settings | Avoid creating .DS_Store files on network or USB volumes"
### Avoid creating .DS_Store files on network or USB volumes
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true
defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true

# debug "[🍀       Sys Prefs] Additional System Settings | Disable automatic termination of inactive apps"
# Disable automatic termination of inactive apps
#defaults write NSGlobalDomain NSDisableAutomaticTermination -bool true

debug "[🍀       Sys Prefs] Additional System Settings | Disable the \"Are you sure you want to open this application?\" dialog"
# Disable the “Are you sure you want to open this application?” dialog
defaults write com.apple.LaunchServices LSQuarantine -bool false
# ==================================================================================================

info "[🍀       Sys Prefs] Configuration complete"

