#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @description    :   Prepare user
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_LEVEL=5 # debug
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Create directories
# --------------------------------------------------------------------------------------------------
if [[ ! -d "${HOME}/Projects" ]]; then
  info "Creating directory: ${HOME}/Projects/" -category "User" -icon "👤"
  mkdir -p "${HOME}/Projects"
fi

if [[ ! -d "${HOME}/Projects/Code" ]]; then
  info "Creating directory: ${HOME}/Projects/Code/" -category "User" -icon "👤"
  mkdir -p "${HOME}/Projects/Code"
fi
# ==================================================================================================
