#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   macOS only
# --------------------------------------------------------------------------------------------------
{{ template "script_darwin_only" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Sudo
# --------------------------------------------------------------------------------------------------
{{ template "script_sudo" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Preflight checks
# --------------------------------------------------------------------------------------------------
info "[🍀       Sys Prefs] Closing any System Preferences panes, to prevent them from overriding changes"
osascript -e 'tell application "System Preferences" to quit'
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   hostname
# --------------------------------------------------------------------------------------------------
# set computer name (as viewed via System Preferences → Sharing)
sudo scutil --set ComputerName {{ .hostname }}

# set hostname (as viewed from the command line)
sudo scutil --set HostName {{ .hostname }}

# Set localhostname (as used by Bonjour)
sudo scutil --set LocalHostName {{ .hostname }}

# Set NetBIOSName
sudo defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string {{ .hostname }}

info "[⛳           setup] Hostname set: {{ .hostname }}"
# ==================================================================================================
