#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
LOG_CATEGORY="Docker Desktop"
LOG_CATEGORY_ICON="🐳"
info "Setting log level to debug."
LOG_LEVEL=5

debug "Verifying installation."

if ! check_macos_app "Docker.app"; then
  info "Application is not installed."
  exit 0

else
  debug "Application is installed."
  info "Closing Docker, to prevent it from overriding changes."
  osascript -e 'tell application "Docker" to quit'

fi

docker_desktop_setting_json_file="${HOME}/Library/Group Containers/group.com.docker/settings.json"
update_docker_setting_json () {
  key=$1
  value=$2
  new_json="$(jq --arg arg "$value" "$key"' = $arg' "${docker_desktop_setting_json_file}")"

  echo -E "${new_json}" > "${docker_desktop_setting_json_file}"
}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Docker Desktop | Settings | General
# --------------------------------------------------------------------------------------------------
### Start Docker Desktop when you log in
debug "Settings | General | Start Docker Desktop when you log in"
#   option --> checked
# update_docker_setting_json ".autoStart" "false"
#   option [default] --> unchecked
update_docker_setting_json ".autoStart" "true"

### Choose theme for Docker Desktop
debug "Settings | General | Choose theme for Docker Desktop"
#   option --> Light
# update_docker_setting_json ".themeSource" "light"
#   option --> Dark
update_docker_setting_json ".themeSource" "dark"
#   option [default] --> Use system settings
# update_docker_setting_json ".themeSource" "system"

### Choose container terminal
debug "Settings | General | Choose container terminal"
#   option [default] --> Integrated
update_docker_setting_json ".containerTerminal" "integrated"
#   option --> System default
# update_docker_setting_json ".containerTerminal" "system"

### Include VM in Time Machine backups
debug "Settings | General | Include VM in Time Machine backups"
#   option --> checked
# update_docker_setting_json ".backupData" "true"
#   option [default] --> unchecked
update_docker_setting_json ".backupData" "false"

### Use Virtualization framework
debug "Settings | General | Use Virtualization framework"
# default | checked
#   option [default] --> checked
update_docker_setting_json ".useVirtualizationFramework" "true"
#   option --> unchecked
# update_docker_setting_json ".useVirtualizationFramework" "false"

### Choose file sharing implementation for your containers
debug "Settings | General | Choose file sharing implementation for your containers"
#   option [default] --> VirtioFS
update_docker_setting_json ".useVirtualizationFrameworkVirtioFS" "true"
update_docker_setting_json ".useGrpcfuse" "true"
#   option --> gRPC FUSE
# update_docker_setting_json ".useVirtualizationFrameworkVirtioFS" "false"
# update_docker_setting_json ".useGrpcfuse" "true"
#   option --> osxfs (Legacy)
# update_docker_setting_json ".useVirtualizationFrameworkVirtioFS" "false"
# update_docker_setting_json ".useGrpcfuse" "false"

### Send usage statistics
debug "Settings | General | Send usage statistics"
#   option [default] --> checked
update_docker_setting_json ".analyticsEnabled" "true"
#   option --> unchecked
# update_docker_setting_json ".analyticsEnabled" "false"

### Open Docker Dashboard at startup
debug "Settings | General | Open Docker Dashboard at startup"
#   option [default] --> checked
update_docker_setting_json ".openUIOnStartupDisabled" "false"
#   option --> unchecked
# update_docker_setting_json ".openUIOnStartupDisabled" "true"
# ==================================================================================================

info "Configuration complete."
