#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Get script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "[🍺        Homebrew] Setting log level to debug."
LOG_LEVEL=7

debug "[🍺        Homebrew] Verifying installation"

if check_binary brew; then
  debug "[🍺        Homebrew] Application is installed"
  exit 0

else
  info "[🍺        Homebrew] Application is not installed"

fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Install Homebrew
# --------------------------------------------------------------------------------------------------
info "[🍺        Homebrew] Installing Homebrew, The Missing Package Manager for macOS (or Linux). Follow the instructions!"

# info "[🍺        Homebrew] Administrator password needed to install Homebrew"
{{ template "script-sudo" }}

cpu_brand_string="$(sysctl -n machdep.cpu.brand_string)"
if [[ "${cpu_brand_string}" =~ "Apple" ]]; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"

elif [[ "${cpu_brand_string}" =~ "Intel" ]]; then
  NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

else
  fatal "[🍺        Homebrew] Unable to install. ${cpu_brand_string} is an unsupported CPU type"

fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Install mas
# --------------------------------------------------------------------------------------------------
{{ if eq .osid "darwin" }}
debug "[🧺             mas] Verifying installation"

if check_binary mas; then
  debug "[🧺             mas] Application is installed"
  exit 0

else
  info "[🧺             mas] Application is not installed"
  info "[🧺             mas] Installing mas, Mac Apple Store CLI"
  brew tap "mas-cli/tap"
  brew install "mas-cli/tap/mas"

fi

{{ else }}
debug "[🧺             mas] Skipping. Does not apply to this operating system"
exit 0

{{ end }}
# ==================================================================================================
