#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   
#   @description    :   
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Source libraries
# --------------------------------------------------------------------------------------------------
{{ template "script_shell_libraries" . }}
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Install Homebrew
# --------------------------------------------------------------------------------------------------
info "[🍺        Homebrew] Looking for Homebrew"

if ! check_binary brew; then
  info "[🍺        Homebrew] Not installed"
  info "[🍺        Homebrew] Installing Homebrew, The Missing Package Manager for macOS (or Linux). Follow the instructions!"

  info "Administrator password needed to install Homebrew"
  {{ template "script_sudo" . }}

  cpu_brand_string="$(sysctl -n machdep.cpu.brand_string)"
  if [[ "${cpu_brand_string}" =~ "Apple" ]]; then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    eval "$(/opt/homebrew/bin/brew shellenv)"
  elif [[ "${cpu_brand_string}" =~ "Intel" ]]; then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  else
    fatal "[🍺        Homebrew] Unable to install. ${cpu_brand_string} is an unsupported CPU type"
  fi

else
  info "[🍺        Homebrew] Already installed"

fi
# ==================================================================================================


# --------------------------------------------------------------------------------------------------
#   @description    :   Install mas
# --------------------------------------------------------------------------------------------------
{{ if eq .osid "darwin" }}
info "[🧺             mas] Looking for mas"

if ! check_binary mas; then
  info "[🧺             mas] Not installed"
  info "[🧺             mas] Installing mas, Mac Apple Store CLI"
  brew tap "mas-cli/tap"
  brew install "mas-cli/tap/mas"
else
  info "[🧺             mas] Already installed"
fi

{{ end }}
# ==================================================================================================
