{{- if eq .osid "darwin" -}}

[user]
  name = {{ .name | quote }}
[core]
  editor = code --wait
  excludesfile = ~/.config/git/ignore
[init]
  defaultBranch = main

  {{- if .personal }}
[includeIf "gitdir:~/Code/github.com/{{ .personal_git_user }}/"]
  path = ~/.config/git/config-personal
  {{- end -}}

{{- end }}
