
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zshrc.d/alias.zsh
#   @description    :   zsh alias definitions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   grep
# --------------------------------------------------------------------------------------------------
alias grep='grep --color=auto'
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   kubecolor
# --------------------------------------------------------------------------------------------------
if [[ ${+commands[kubectl]} && ${+commands[kubecolor]} ]]; then
    alias kubectl=kubecolor
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   ls
# --------------------------------------------------------------------------------------------------
alias ls='ls --color=auto'
# ==================================================================================================
