
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zshrc.d/alias.zsh
#   @description    :   ZSH alias definitions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   grep
# --------------------------------------------------------------------------------------------------
alias grep='grep --color=auto'
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   ls
# --------------------------------------------------------------------------------------------------
alias ls='ls --color=auto'
# ==================================================================================================
