
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zshrc.d/completion.zsh
#   @description    :   ZSH Auto-Complete
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   chezmoi
# --------------------------------------------------------------------------------------------------
if (( ${+commands[chezmoi]} )); then
    eval "$(chezmoi completion zsh)"
fi
# ==================================================================================================
