
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zshrc.d/completion.zsh
#   @description    :   zsh completion
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   chezmoi
# --------------------------------------------------------------------------------------------------
if (( ${+commands[chezmoi]} )); then
    eval "$(chezmoi completion zsh)"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   helm
# --------------------------------------------------------------------------------------------------
if (( ${+commands[helm]} )); then
    source <(helm completion zsh)
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   kubectl
# --------------------------------------------------------------------------------------------------
if (( ${+commands[kubectl]} )); then
    source <(kubectl completion zsh)
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   mise
# --------------------------------------------------------------------------------------------------
if (( ${+commands[helm]} )); then
    eval "$(mise activate zsh)"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Starship
# --------------------------------------------------------------------------------------------------
if (( ${+commands[starship]} )); then
    export STARSHIP_CONFIG="${HOME}/.config/starship/config.toml"
    eval "$(starship init zsh)"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   1password-cli
# --------------------------------------------------------------------------------------------------
if (( ${+commands[op]} )); then
    eval "$(op completion zsh)"
fi
# ==================================================================================================
