
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zshrc.d/path.zsh
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Extend PATH
# --------------------------------------------------------------------------------------------------
{{ if eq .chezmoi.os "darwin" -}}
# ${HOME}/.bin
if [ -d ${HOME}/.bin/ ]; then
    PATHS+=("$HOME/.bin")
fi

# ${HOME}/.local/bin
if [ -d ${HOME}/.local/bin/ ]; then
    PATHS+=("$HOME/.local/bin")
fi

# /usr/local/sbin
if [ -d /usr/local/sbin/ ]; then
    PATHS+=("/usr/local/sbin")
fi
{{- end }}
# ==================================================================================================
