{{- if eq .osid "darwin" }}
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/core"
tap "homebrew/services"

# Manage your dotfiles across multiple diverse machines, securely
brew "chezmoi"
# GNU File, Shell, and Text utilities
brew "coreutils"
# Get a file from an HTTP, HTTPS or FTP server
brew "curl"
# Load/unload environment variables based on $PWD
brew "direnv"
# Popular GNU data compression program
brew "gzip"
# Lightweight and flexible command-line JSON processor
brew "jq"
# Mac App Store command-line interface
tap "mas-cli/tap"
brew "mas-cli/tap/mas"
# Editor of encrypted files
brew "sops"
# Display directories as trees (with optional color/HTML output)
brew "tree"
# Executes a program periodically, showing output fullscreen
brew "watch"
# Internet file retriever
brew "wget"
# Process YAML, JSON, XML, CSV and properties documents from the CLI
brew "yq"
# Permanent TouchID support for sudo
tap "artginzburg/tap"
brew "artginzburg/tap/sudo-touchid"
# Control windows and applications right from your trackpad
cask "swish"

  {{- if .personal }}
  # Simple, modern, secure file encryption
  brew "age"
  # Perl lib for reading and writing EXIF metadata
  brew "exiftool"
  # Task runner / simpler Make alternative written in Go
  tap "go-task/tap"
  brew "go-task/tap/go-task"
  # LastPass command-line interface tool
  brew "lastpass-cli"
  # Cross-shell prompt for astronauts
  brew "starship"

  # Tool to flash OS images to SD cards & USB drives
  cask "balenaetcher"
  # Code snippet organizer
  cask "cacher"
  # Voice and text chat software
  cask "discord"
  # Control your Elgato key lights
  cask "elgato-control-center"
  # Assign keys, and then decorate and label them
  cask "elgato-stream-deck"
  # Calendar software
  cask "fantastical"
  # Web browser
  cask "google-chrome"
  # Terminal emulator as alternative to Apple's Terminal app
  cask "iterm2"
  # Password manager
  cask "lastpass"
  # Open-source music notation software
  cask "musescore"
  # Team communication and collaboration software
  cask "slack"
  # Text editor for code, markup and prose
  cask "sublime-text"
  # File transfer application
  cask "transmit"
  # Open-source code editor
  cask "visual-studio-code"
  # Multimedia player
  cask "vlc"
  # Video communication and virtual meeting platform
  cask "zoom"
  # Display data for audio and video files
  mas "MediaInfo", id: 510620098
  # Microsoft Excel
  mas "Microsoft Excel", id: 462058435
  # Microsoft PowerPoint
  mas "Microsoft PowerPoint", id: 462062816
  # Microsoft Word
  mas "Microsoft Word", id: 462054704
  # Easy-to-use MQTT client
  mas "MQTT Explorer", id: 1455214828
  # Smart duplicate photos cleaner
  mas "PhotoSweeper", id: 463362050
  # Mesh VPN based on WireGuard
  mas "Tailscale", id: 1475387142
  # Your to-do list for Mac & iOS
  mas "Things", id: 904280696
  # Sequence lights to music
  mas "xLights", id: 1137297689
  {{- end }}

  {{- if .work }}
  # MinIO Client for object storage and filesystems
  tap "minio/stable"
  brew "minio/stable/mc"
  # Code snippet organizer
  cask "cacher"
  # App to build and share containerized applications and microservices
  cask "docker"
  # Web browser
  cask "google-chrome"
  # Terminal emulator as alternative to Apple's Terminal app
  cask "iterm2"
  # Meet, chat, call, and collaborate in just one place
  cask "microsoft-teams"
  # Collaboration platform for API development
  cask "postman"
  # Team communication and collaboration software
  cask "slack"
  # Text editor for code, markup and prose
  cask "sublime-text"
  # File transfer application
  cask "transmit"
  # Open-source code editor
  cask "visual-studio-code"
  # Video communication and virtual meeting platform
  cask "zoom"
  # Microsoft Excel
  mas "Microsoft Excel", id: 462058435
  # Microsoft OneNote
  mas "Microsoft OneNote", id: 784801555
  # Microsoft Outlook
  mas "Microsoft Outlook", id: 985367838
  # Microsoft PowerPoint
  mas "Microsoft PowerPoint", id: 462062816
  # Microsoft Word
  mas "Microsoft Word", id: 462054704
  # Your to-do list for Mac & iOS
  mas "Things", id: 904280696
  {{- end }}

  {{- if .devops }}
  # Automate deployment, configuration, and upgrading
  brew "ansible"
  # Checks ansible playbooks for practices and behaviour
  brew "ansible-lint"
  # Kubernetes package manager
  brew "helm"
  # Kubernetes command-line interface
  brew "kubernetes-cli"
  # Template-free customization of Kubernetes YAML manifests
  brew "kustomize"
  # Platform built on V8 to build network applications
  brew "node"
  # Framework for managing multi-language pre-commit hooks
  brew "pre-commit"
  # Tool to build, change, and version infrastructure
  brew "terraform"
  # Cloudflare Tunnel
  tap "cloudflare/cloudflare"
  brew "cloudflare/cloudflare/cloudflared"
  # Flux CLI
  tap "fluxcd/tap"
  brew "fluxcd/tap/flux"
  # GitOps support for Kubernetes
  tap "weaveworks/tap"
  brew "weaveworks/tap/gitops"

  # Browser for SQLite databases
  cask "db-browser-for-sqlite"
  # App to build and share containerized applications and microservices
  cask "docker"
  # Kubernetes IDE
  cask "lens"
  # Menu bar app for managing Kubernetes contexts
  cask "kubecontext"
  # Administration and development platform for PostgreSQL
  cask "pgadmin4"
  # Collaboration platform for API development
  cask "postman"
  # Open-source code editor
  cask "visual-studio-code"
  {{- end }}

{{- end }}
