{{- if eq .osid "darwin" }}
# LastPass command-line interface tool
brew "lastpass-cli"

  {{- if .workstation }}
tap "go-task/tap"

# Simple, modern, secure file encryption
brew "age"
# Perl lib for reading and writing EXIF metadata
brew "exiftool"
# Editor of encrypted files
brew "sops"
# Task runner / simpler Make alternative written in Go
brew "go-task/tap/go-task"
# Tool to flash OS images to SD cards & USB drives
cask "balenaetcher"
# Code snippet organizer
cask "cacher"
# Browser for SQLite databases
cask "db-browser-for-sqlite"
# Voice and text chat software
cask "discord"
# Control your Elgato Key Lights
cask "elgato-control-center"
# Assign keys, and then decorate and label them
cask "elgato-stream-deck"
# Calendar software
cask "fantastical"
# Web browser
cask "google-chrome"
# Terminal emulator as alternative to Apple's Terminal app
cask "iterm2"
# Password manager
cask "lastpass"
# Open-source music notation software
cask "musescore"
# Team communication and collaboration software
cask "slack"
# Text editor for code, markup and prose
cask "sublime-text"
# Control windows and applications right from your trackpad
cask "swish"
# File transfer application
cask "transmit"
# Open-source code editor
cask "visual-studio-code"
# Microsoft Excel
mas "Microsoft Excel", id: 462058435
# Microsoft Word
mas "Microsoft Word", id: 462054704
# Easy-to-use MQTT client
mas "MQTT Explorer", id: 1455214828
# Smart duplicate photos cleaner
mas "PhotoSweeper", id: 463362050
# Your to-do list for Mac & iOS
mas "Things", id: 904280696
  {{- end }}

{{- end }}
