albert.tabout
esbenp.prettier-vscode
fnando.linter
gruntfuggly.todo-tree
hashicorp.terraform
mikestead.dotenv
ms-azuretools.vscode-docker
ms-python.python
ms-python.vscode-pylance
ms-vscode-remote.remote-containers
oderwat.indent-rainbow
raillyhugo.one-hunter
redhat.vscode-yaml
samuelcolvin.jinjahtml
signageos.signageos-vscode-sops
tamasfe.even-better-toml
tomoki1207.selectline-statusbar
