
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/1Password/completion.zsh
#   @description    :   1Password ZSH Auto-Complete
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Setup auto-complete
# --------------------------------------------------------------------------------------------------
if (( ${+commands[op]} )); then
    eval "$(op completion zsh)"
fi
# ==================================================================================================
{{- end }}
