{{- $name := "Chris Burnham" -}}
{{- $personal_git_user := "" -}}
{{- $personal_git_email := "" -}}
{{- $personal_lastpass_email := "" -}}

{{/* feature flags */}}
{{- $personal := false -}}{{/* true if this machine should have personal config/secrets */}}
{{- $work := false -}}{{/* true if this machine should have work config/secrets */}}
{{- "" -}}

{{- if not stdinIsATTY -}}
  {{- writeToStdout "🛑 Error: Container environment detected. Exiting.\n" -}}
  {{- exit 1 -}}
{{- else -}}

  {{- if hasKey . "name" -}}
    {{- $orig_name := .name -}}
    {{- $name = promptString "Name" $orig_name -}}
  {{- else -}}
    {{- $name = promptString "Name" $name -}}
  {{- end -}}

  {{- if hasKey . "personal" -}}
    {{- $orig_personal := .personal -}}
    {{- $personal = promptBool "Enable personal configs/secrets [y|n]" $orig_personal -}}
  {{- else -}}
    {{- $personal = promptBool "Enable personal configs/secrets [y|n]" $personal -}}
  {{- end -}}

  {{- if $personal -}}
    {{- if hasKey . "personal_git_user" -}}
      {{- $orig_personal_git_user := .personal_git_user -}}
      {{- $personal_git_user = promptString "[Personal] git username" $orig_personal_git_user -}}
    {{- else -}}
      {{- $personal_git_user = promptString "[Personal] git username" $personal_git_user -}}
    {{- end -}}

    {{- if hasKey . "personal_git_email" -}}
      {{- $orig_personal_git_email := .personal_git_email -}}
      {{- $personal_git_email = promptString "[Personal] git email" $orig_personal_git_email -}}
    {{- else -}}
      {{- $personal_git_email = promptString "[Personal] git email" $personal_git_email -}}
    {{- end -}}

    {{- if hasKey . "personal_lastpass_email" -}}
      {{- $orig_personal_lastpass_email := .personal_lastpass_email -}}
      {{- $personal_lastpass_email = promptString "[Personal] Lastpass email/username" $orig_personal_lastpass_email -}}
    {{- else -}}
      {{- $personal_lastpass_email = promptString "[Personal] Lastpass email/username" $personal_lastpass_email -}}
    {{- end -}}

  {{- end -}}

  {{- if hasKey . "work" -}}
    {{- $orig_work := .work -}}
    {{- $work = promptBool "Enable work configs/secrets [y|n]" $orig_work -}}
  {{- else -}}
    {{- $work = promptBool "Enable work configs/secrets [y|n]" $work -}}
  {{- end -}}

  {{- if $work -}}
  {{- end -}}

{{- end -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
  {{- $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

data:
  name: {{ $name | quote }}
  osid: {{ $osID | quote }}

  personal: {{ $personal }}
  {{- if $personal }}
  personal_git_user: {{ $personal_git_user | quote }}
  personal_git_email: {{ $personal_git_email | quote }}
  personal_lastpass_email: {{ $personal_lastpass_email | quote }}
  {{- end }}

  work: {{ $work }}
  {{- if $work }}
  {{- end }}

sourceDir: "{{ .chezmoi.sourceDir }}"
