{{- /* check if running interactively */ -}}
{{- $interactive := stdinIsATTY -}}

{{- /* initialize the variable defaults */ -}}
{{- $name := "Chris Burnham" -}}
{{- $personal_git_user := "" -}}
{{- $personal_git_email := "" -}}
{{- $personal_op_email := "" -}}

{{- /* initialize the name variable */ -}}
{{- if $interactive -}}
  {{- if hasKey . "name" -}}
    {{- $orig_name := .name -}}
    {{- $name = promptString "Name" $orig_name -}}
  {{- else -}}
    {{- $name = promptString "Name" $name -}}
  {{- end -}}
{{- end -}}

{{/* feature flags */}}
{{- $personal := false -}}{{/* true if this machine should have personal config/secrets */}}
{{- "" -}}

{{- /* initialize the personal variable */ -}}
{{- if $interactive -}}

  {{- if hasKey . "personal" -}}
    {{- $orig_personal := .personal -}}
    {{- $personal = promptBool "Enable personal configs/secrets [y|n]" $orig_personal -}}
  {{- else -}}
    {{- $personal = promptBool "Enable personal configs/secrets [y|n]" $personal -}}
  {{- end -}}

  {{- if $personal -}}

    {{- if hasKey . "personal_git_user" -}}
      {{- $orig_personal_git_user := .personal_git_user -}}
      {{- $personal_git_user = promptString "[Personal] git username" $orig_personal_git_user -}}
    {{- else -}}
      {{- $personal_git_user = promptString "[Personal] git username" $personal_git_user -}}
    {{- end -}}

    {{- if hasKey . "personal_git_email" -}}
      {{- $orig_personal_git_email := .personal_git_email -}}
      {{- $personal_git_email = promptString "[Personal] git email" $orig_personal_git_email -}}
    {{- else -}}
      {{- $personal_git_email = promptString "[Personal] git email" $personal_git_email -}}
    {{- end -}}

    {{- if hasKey . "personal_op_email" -}}
      {{- $orig_personal_op_email := .personal_op_email -}}
      {{- $personal_op_email = promptString "[Personal] 1password username" $orig_personal_op_email -}}
    {{- else -}}
      {{- $personal_op_email = promptString "[Personal] 1password username" $personal_op_email -}}
    {{- end -}}

  {{- end -}}

{{- end -}}

{{- if $interactive -}}
  {{- writeToStdout "💡 Tip: you can re-enter your data with `chezmoi init --data=false`.\n" -}}
{{- end -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
  name = {{ $name | quote }}
  {{- if $personal }}
  personal = {{ $personal }}
  personal_git_user = {{ $personal_git_user | quote }}
  personal_git_email = {{ $personal_git_email | quote }}
  personal_op_email = {{ $personal_op_email | quote }}
  {{- end }}
