
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Source .zsh files in ~/.zshrc.d/
# --------------------------------------------------------------------------------------------------
if [ -d ${HOME}/.zshrc.d ]; then
  if test "$(find ${HOME}/.zshrc.d -maxdepth 1 -name '*.zsh' -print -quit)"; then
    for dotfile in ${HOME}/.zshrc.d/*.zsh; do
        if [ -r "${dotfile}" ]; then
          source "${dotfile}"
        fi
    done
  fi
fi
# ==================================================================================================
{{- end }}

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   direnv
# --------------------------------------------------------------------------------------------------
if (( ${+commands[direnv]} )); then
  eval "$(direnv hook zsh)"
fi
# ==================================================================================================
{{- end }}
