[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global

[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process

[init]
  defaultBranch = main

[user]
  name = {{ .name | quote }}
  useConfigOnly = true

{{ if .personal -}}
[includeIf "gitdir:~/Code/github.com/{{ .personal_git_user }}/"]
  path = ~/.gitconfig_personal
{{ end -}}

{{ if .work -}}
[includeIf "gitdir:~/Code/bitbucket.org/{{ .work_git_user }}/"]
  path = ~/.gitconfig_work
{{ end -}}
