[user]
  name = {{ .name | quote }}

[core]
  editor = code --wait
  excludesfile = ~/.gitignore_global

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[mergetool "vscode"]
  cmd = code --wait $MERGED

[diff]
  tool = vscode

[merge]
  autoStash = true
  tool = vscode

[rebase]
  autoStash = true

[push]
  autoSetupRemote = true

[init]
  defaultBranch = main

[gitreview]
  remote = origin

{{ if .personal -}}
[includeIf "gitdir:~/Code/github.com/{{ .personal_git_user }}/"]
  path = ~/.gitconfig_personal
{{ end -}}
