
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Source .zsh files
# --------------------------------------------------------------------------------------------------
# Source all .zsh files in ~/.zshrc.d/
if [ -d ${HOME}/.zshrc.d ]; then
  if test "$(find ${HOME}/.zshrc.d -maxdepth 1 -name '*.zsh' -print -quit)"; then
    for dotfile in ${HOME}/.zshrc.d/*.zsh; do
        if [ -r "${dotfile}" ]; then
          source "${dotfile}"
        fi
    done
  fi
fi
# ==================================================================================================

{{ if .personal -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Starship
# --------------------------------------------------------------------------------------------------
if type starship >/dev/null 2>&1; then
  eval "$(starship init zsh)"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   sops
# --------------------------------------------------------------------------------------------------
export SOPS_AGE_KEY_FILE=~/.config/sops/age/keys.txt
export SOPS_AGE_RECIPIENTS=$( cat ${SOPS_AGE_KEY_FILE} | awk '{ print $4 }' )
# ==================================================================================================
{{ end }}

# --------------------------------------------------------------------------------------------------
#   @description    :   direnv
# --------------------------------------------------------------------------------------------------
if type direnv >/dev/null 2>&1; then
  eval "$(direnv hook zsh)"
fi
# ==================================================================================================
