
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zsh.d/2-autocomplete.zsh
#   @description    :   ZSH Auto-Completion
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Initialize auto-complete
# --------------------------------------------------------------------------------------------------
autoload -Uz compinit && compinit
# ==================================================================================================
{{- end }}
