
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/zsh.d/chezmoi.zsh
#   @description    :   Chezmoi
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Chezmoi
# --------------------------------------------------------------------------------------------------
if (( ${+commands[chezmoi]} )); then
    eval "$(chezmoi completion zsh)"
fi
# ==================================================================================================
{{- end }}
