
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/krew/path.zsh
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Extend PATH
# --------------------------------------------------------------------------------------------------
{{ if .devops -}}
# ${HOME}/.krew/bin
if [ -d "${KREW_ROOT:-$HOME/.krew}/bin/" ]; then
    PATHS+=("${KREW_ROOT:-$HOME/.krew}/bin")
fi
{{- end }}
# ==================================================================================================
