#!{{ lookPath "bash" }}

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author                 :   Chris Burnham
#   @file                   :
#   @description            :   Install Homebrew packages
#   @homebrew/Brewfile hash : {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Load script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "Setting log level to debug." -category "Brew Bundles" -icon "🍺"
LOG_LEVEL=5

debug "Validating installation of homebrew." -category "Brew Bundles" -icon "🍺"
if ! check_binary brew; then
  error "Homebrew is not installed." -category "Brew Bundles" -icon "🍺"
  exit 0
fi

debug "Validating installation of mas." -category "Brew Bundles" -icon "🍺"
if ! check_binary mas; then
  error "MAS is not installed." -category "Brew Bundles" -icon "🍺"
  exit 0
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew Bundles
# --------------------------------------------------------------------------------------------------
info "Installing essential packages." -category "Homebrew" -icon "🍺"
brew bundle --all --file "{{ .chezmoi.homeDir }}/.config/homebrew/Brewfile"
# ==================================================================================================
