#!/usr/bin/env bash

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Get script libraries
# --------------------------------------------------------------------------------------------------
{{ template "script-library" }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Pre-flight
# --------------------------------------------------------------------------------------------------
info "[🏵        Rosetta 2] Setting log level to debug."
LOG_LEVEL=7
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Apple Silicon CPU
# --------------------------------------------------------------------------------------------------
{{ if eq .osid "darwin" }}

  {{ if eq .chezmoi.arch "arm64" }}
debug "[🏵        Rosetta 2] Checking CPU type."
cpu_brand_string="$(sysctl -n machdep.cpu.brand_string)"

if [[ "${cpu_brand_string}" =~ "Apple" ]]; then
  debug "[🏵        Rosetta 2] Apple arm-based CPU detected."
  debug "[🏵        Rosetta 2] Verifying installation."

  if /usr/bin/pgrep oahd >/dev/null 2>&1; then
    debug "[🏵        Rosetta 2] Rosetta is installed."
    exit 0

  else
    info "[🏵        Rosetta 2] Installing Rosetta."
    softwareupdate --install-rosetta --agree-to-license

  fi

else
  fatal "[🏵        Rosetta 2] ${cpu_brand_string} is an unsupported CPU type."

fi

  {{ else }}
debug "[🏵        Rosetta 2] Skipping. Does not apply to this CPU architecture."
exit 0

  {{ end }}

{{ else }}
debug "[🏵        Rosetta 2] Skipping. Does not apply to this operating system."
exit 0

{{ end }}
# ==================================================================================================
