{
  /*+--- Text Editor ---+*/
  "editor.bracketPairColorization.enabled": true,
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "editor.guides.bracketPairs": "active",
  "editor.guides.bracketPairsHorizontal": "active",
  "editor.guides.highlightActiveBracketPair": true,
  "editor.stickyScroll.enabled": true,
  "editor.tabSize": 2,
  "editor.wordWrap": "off",
  "files.associations": {
    "*.json5": "jsonc",
    "*.toml": "toml",
    "*.yaml": "yaml",
    "*.yml": "yaml"
  },
  "files.autoSave": "onFocusChange",
  "files.eol": "\n",
  "files.insertFinalNewline": true,
  "files.trimFinalNewlines": true,
  "files.trimTrailingWhitespace": true,

  /*+--- Workbench ---+*/
  "workbench.sideBar.location": "left",
  "workbench.startupEditor": "none",
  "workbench.tree.renderIndentGuides": "none",

  /*+--- Window ---+*/
  "window.confirmSaveUntitledWorkspace": false,
  "window.newWindowDimensions": "maximized",
  "window.restoreWindows": "all",

  /*+--- Features ---+*/
  "explorer.compactFolders": false,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,

  /*+--- Application ---+*/
  "telemetry.telemetryLevel": "off",
  "update.showReleaseNotes": false,
  "update.mode": "default",

  /*+--- Security ---+*/
  "security.workspace.trust.untrustedFiles": "open",

  /*+--- Extensions ---+*/
  "extensions.autoCheckUpdates": true,
  "extensions.autoUpdate": true,
  "extensions.ignoreRecommendations": true,
  "git.autofetch": true,
  "git.confirmSync": false,
  "git.replaceTagsWhenPull": true,
  "redhat.telemetry.enabled": false,
  "todo-tree.highlights.useColourScheme": true,
  "todo-tree.tree.expanded": true,
  "yaml.schemaStore.enable": true
}
