
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/iterm2/iterm2.zsh
#   @description    :   iTerm2
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Shell Integration
# --------------------------------------------------------------------------------------------------
if [[ "$TERM_PROGRAM" == "iTerm.app" ]]; then
  ITERM_SHELL_INTEGRATION="${HOME}/.config/iterm2/iterm2_shell_integration.zsh"
  [[ -f "${ITERM_SHELL_INTEGRATION}" ]] && source "${ITERM_SHELL_INTEGRATION}"
fi
# ==================================================================================================
{{- end }}
