
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/starship/config.toml
#   @description    :   Starship cross-shell prompt configuration file
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if .personal -}}
[character]
success_symbol = "\n[❯](bold green)"
error_symbol = "\n[✖](bold red)"

[hostname]
ssh_only = true
disabled = false

[username]
disabled = false
show_always = false
{{ end }}
