"$schema" = 'https://starship.rs/config-schema.json'

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/starship/config.toml
#   @description    :   Starship cross-shell prompt configuration file
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[✗](bold red)"

[hostname]
format = "[@$hostname]($style) in "
ssh_only = true
style = "green"

[username]
format = "[$user]($style)"
style_root = "red"
style_user = "yellow"
