
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/starship/starship.zsh
#   @description    :   Starship
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Starship
# --------------------------------------------------------------------------------------------------
if (( ${+commands[starship]} )); then
    export STARSHIP_CONFIG="${HOME}/.config/starship/config.toml"
    eval "$(starship init zsh)"
fi
# ==================================================================================================
