
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/10-zsh.zsh
#   @description    :   ZSH configuration
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Paths
# --------------------------------------------------------------------------------------------------
typeset -a PATHS

# ${HOME}/bin
if [[ -d ${HOME}/bin ]]; then
    PATHS+=("$HOME/bin")
fi

# ${HOME}/.local/bin
if [[ -d ${HOME}/.local ]]; then
    if [[ -d ${HOME}/.local/bin ]]; then
        PATHS+=("$HOME/.local/bin")
    fi
fi

# /usr/local/sbin
if [[ -d /usr/local/sbin ]]; then
    PATHS+=("/usr/local/sbin")
fi

# combine PATHS using 'j' flag: join PATHS by ':'' (see: man zshexpn)
export PATH=${(j[:])PATHS}:$PATH

# de-duplicate the $path array
typeset -U path
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   History
# --------------------------------------------------------------------------------------------------
export HISTFILE=~/.zsh_history
export HISTSIZE=1000000
export SAVEHIST=1000000
setopt EXTENDED_HISTORY          # Write the history file in the ':start:elapsed;command' format.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_IGNORE_SPACE         # Do not record an event starting with a space.
setopt HIST_SAVE_NO_DUPS         # Do not write a duplicate event to the history file.
setopt HIST_REDUCE_BLANKS        # Remove superfluous blanks from each command line.
setopt HIST_VERIFY               # Do not execute immediately upon history expansion.
# ==================================================================================================
{{- end }}
