
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/20-autocomplete.zsh
#   @description    :   Command autocompletions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   homebrew
# --------------------------------------------------------------------------------------------------
if (( ${+commands[brew]} )); then
  fpath+="$(brew --prefix)/share/zsh/site-functions"
  fpath+="$(brew --prefix)/share/zsh-completions"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   initialize auto-complete
# --------------------------------------------------------------------------------------------------
autoload -U +X compinit && compinit
autoload -U +X bashcompinit && bashcompinit
# ==================================================================================================
{{- end }}

# --------------------------------------------------------------------------------------------------
#   @description    :   chezmoi
# --------------------------------------------------------------------------------------------------
if (( ${+commands[chezmoi]} )); then
  eval "$(chezmoi completion zsh)"
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   1password
# --------------------------------------------------------------------------------------------------
if (( ${+commands[op]} )); then
  eval "$(op completion zsh)"
fi
# ==================================================================================================
