
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/21-starship.zsh
#   @description    :   Starship
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Starship
# --------------------------------------------------------------------------------------------------
export STARSHIP_CONFIG="{{ .chezmoi.homeDir }}/.config/starship/config.toml"
if (( ${+commands[starship]} )); then
    eval "$(starship init zsh)"
fi
# ==================================================================================================
{{- end }}
