
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/alias.zsh
#   @description    :   Alias definitions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# make commands more colorful
alias grep='grep --color=auto'
alias ls='ls --color=auto'

{{ if .personal }}
# set up chezmoi
alias chezmoi='chezmoi --source $HOME/Code/github.com/{{ .personal_git_user }}/dotfiles'

# flush dns cache
alias flush-dns-cache="sudo dscacheutil -flushcache; \
                       sudo killall -HUP mDNSResponder"
{{ end }}
