
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/alias.zsh
#   @description    :   Alias definitions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# Make commands more colorful
alias grep='grep --color=auto'
alias ls='ls --color=auto'

{{ if .personal }}
alias chezmoi='chezmoi --source $HOME/Code/github.com/{{ .personal_git_user }}/dotfiles'
{{ end }}
