
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/autocomplete.zsh
#   @description    :   Command autocompletions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .osid "darwin" }}

# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew
# --------------------------------------------------------------------------------------------------
if type brew &> /dev/null; then
    FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Initialize zsh completion
# --------------------------------------------------------------------------------------------------
autoload -Uz compinit
compinit
# ==================================================================================================

{{ end }}
