
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.zshrc.d/autocomplete.zsh
#   @description    :   Command autocompletions
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if (eq .chezmoi.os "darwin") }}

# --------------------------------------------------------------------------------------------------
#   @description    :   Initialization
# --------------------------------------------------------------------------------------------------
autoload -Uz compinit
compinit
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew
# --------------------------------------------------------------------------------------------------
if type brew &> /dev/null; then
    FPATH=$(brew --prefix)/share/zsh/site-functions:$FPATH
fi
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Chezmoi
# --------------------------------------------------------------------------------------------------
if type chezmoi &> /dev/null; then
    eval "$(chezmoi completion zsh)"
fi
# ==================================================================================================

{{ end }}
