
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @date           :   2022-07-06
#   @file           :   ~/.zshrc.d/environment.zsh
#   @description    :   Environment variables
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Paths
# --------------------------------------------------------------------------------------------------
typeset -a PATHS
PATHS+=("$HOME/bin")
{{ if eq .chezmoi.os "darwin" -}}
PATHS+=("/usr/local/sbin")
{{- end }}

# 'j' flag: join PATHS by ':'' (see: man zshexpn)
export PATH=${(j[:])PATHS}:$PATH
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   GPG
# --------------------------------------------------------------------------------------------------
export GPG_TTY=$(tty)
# ==================================================================================================

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew
# --------------------------------------------------------------------------------------------------
export HOMEBREW_CASK_OPTS="--appdir=/Applications --fontdir=/Library/Fonts"
export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_NO_EMOJI=1
export HOMEBREW_NO_GITHUB_API=1
# ==================================================================================================
{{- end }}
