
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/.zshrc
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew
# --------------------------------------------------------------------------------------------------
{{ if eq .chezmoi.os "darwin" -}}
if [[ -x "/opt/homebrew/bin/brew" ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi
{{- end }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   XDG Base Directories are required for some configurations. They are created
#                       before any additional configuration.
# --------------------------------------------------------------------------------------------------
{{- if eq .chezmoi.os "darwin" }}
if [[ ! -d "$XDG_CACHE_HOME/zsh" ]]; then
    mkdir -p "$XDG_CACHE_HOME/zsh"
fi

if [[ ! -d "$XDG_DATA_HOME/zsh" ]]; then
    mkdir -p "$XDG_DATA_HOME/zsh"
fi
{{- end }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Source .zsh files in ~/.config
# --------------------------------------------------------------------------------------------------
{{- if eq .chezmoi.os "darwin" }}
# get all of the zsh files
typeset -U ZSH_FILES
ZSH_FILES=($XDG_CONFIG_HOME/**/*.zsh)

# extend $PATH
typeset -a PATHS

# source the path files
for file in ${(M)ZSH_FILES:#*/path.zsh}; do
  source $file
done

# de-duplicate the $PATH array
typeset -U PATH

# combine PATHS using 'j' flag: join PATHS by ':'' (see: man zshexpn)
export PATH=${(j[:])PATHS}:$PATH

# source everything except for the path and completion files
for file in ${${ZSH_FILES:#*/path.zsh}:#*/completion.zsh}; do
  source $file
done

# initialize autocomplete
autoload -U compinit
compinit

# source completion files
for file in ${(M)ZSH_FILES:#*/completion.zsh}; do
  source $file
done

# cleanup
unset PATHS
unset ZSH_FILES
{{- end }}
# ==================================================================================================
