
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/zsh/.zshrc
#   @description    :
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# --------------------------------------------------------------------------------------------------
#   @description    :   XDG Base Directories are required for some configurations. They are created
#                       before any additional configuration.
# --------------------------------------------------------------------------------------------------
{{- if eq .chezmoi.os "darwin" }}
if [[ ! -d "$XDG_CACHE_HOME/zsh" ]]; then
    mkdir -p "$XDG_CACHE_HOME/zsh"
fi

if [[ ! -d "$XDG_DATA_HOME/zsh" ]]; then
    mkdir -p "$XDG_DATA_HOME/zsh"
fi
{{- end }}
# ==================================================================================================

# --------------------------------------------------------------------------------------------------
#   @description    :   Source .zsh files in ~/.config/zsh/zsh.d
# --------------------------------------------------------------------------------------------------
{{- if eq .chezmoi.os "darwin" }}
if [ -d "${ZDOTDIR}/zsh.d/" ]; then
    if test "$(find ${ZDOTDIR}/zsh.d/ -maxdepth 1 -name '*.zsh' -print -quit)"; then
        for file in ${ZDOTDIR}/zsh.d/*.zsh; do
            if [ -r "${file}" ]; then
                source "${file}"
            fi
        done
    fi
fi
{{- end }}
# ==================================================================================================
