
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/homebrew/Brewfile
#   @description    :   Brewfile - one Brewfile to rule them all
#   @usage          :   brew bundle --file "$HOME/.config/Homebrew/Brewfile"
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if (eq .chezmoi.os "darwin") -}}
# --------------------------------------------------------------------------------------------------
# Manage your dotfiles across multiple diverse machines, securely
brew "chezmoi"
# --------------------------------------------------------------------------------------------------
# GNU File, Shell, and Text utilities
brew "coreutils"
# --------------------------------------------------------------------------------------------------
# Lightweight and flexible command-line JSON processor
brew "jq"
# --------------------------------------------------------------------------------------------------
# Mac App Store command-line interface
brew "mas"
# --------------------------------------------------------------------------------------------------
# Cross-shell prompt for astronauts
brew "starship"
# --------------------------------------------------------------------------------------------------
# Executes a program periodically, showing output fullscreen
brew "watch"
# --------------------------------------------------------------------------------------------------
# Internet file retriever
brew "wget"
# --------------------------------------------------------------------------------------------------
# Process YAML documents from the CLI
brew "yq"
# --------------------------------------------------------------------------------------------------
# Password manager that keeps all passwords secure behind one password
cask "1password"
# --------------------------------------------------------------------------------------------------
# Command-line interface for 1Password
cask "1password-cli"
# --------------------------------------------------------------------------------------------------
# Open-source code editor
cask "visual-studio-code"
# --------------------------------------------------------------------------------------------------
# Better JSON5
vscode "blueglassblock.better-json5"
# --------------------------------------------------------------------------------------------------
# markdownlint
vscode "davidanson.vscode-markdownlint"
# --------------------------------------------------------------------------------------------------
# Prettier - Code formatter
vscode "esbenp.prettier-vscode"
# --------------------------------------------------------------------------------------------------
# Todo Tree
vscode "gruntfuggly.todo-tree"
# --------------------------------------------------------------------------------------------------
# ENV
vscode "irongeek.vscode-env"
# --------------------------------------------------------------------------------------------------
# SSH Config Syntax Highlighter
vscode "mousavian.ssh-config-syntax-highlighter"
# --------------------------------------------------------------------------------------------------
# indent-rainbow
vscode "oderwat.indent-rainbow"
# --------------------------------------------------------------------------------------------------
# YAML Sort
vscode "pascalreitermann93.vscode-yaml-sort"
# --------------------------------------------------------------------------------------------------
# YAML
vscode "redhat.vscode-yaml"
# --------------------------------------------------------------------------------------------------
# Better Jinja
vscode "samuelcolvin.jinjahtml"
# --------------------------------------------------------------------------------------------------
# Splunk
vscode "splunk.splunk"

{{-   if .personal }}
# --------------------------------------------------------------------------------------------------
# Assign keys, and then decorate and label them
cask "elgato-stream-deck"
# --------------------------------------------------------------------------------------------------
# Calendar software
cask "fantastical"
# --------------------------------------------------------------------------------------------------
# Web browser
cask "google-chrome"
# --------------------------------------------------------------------------------------------------
# Knowledge base that works on top of a local folder of plain text Markdown files
cask "obsidian"
# --------------------------------------------------------------------------------------------------
# Control windows and applications right from your trackpad
cask "swish"
# --------------------------------------------------------------------------------------------------
# File transfer application
cask "transmit"
{{-   end }}

{{-   if .work }}
# --------------------------------------------------------------------------------------------------
# Assign keys, and then decorate and label them
cask "elgato-stream-deck"
# --------------------------------------------------------------------------------------------------
# Web browser
cask "google-chrome"
# --------------------------------------------------------------------------------------------------
# Client for the Google Drive storage service
cask "google-drive"
# --------------------------------------------------------------------------------------------------
# Team communication and collaboration software
cask "slack"
{{-   end }}

{{-   if .devops }}
# --------------------------------------------------------------------------------------------------
# Framework for managing multi-language pre-commit hooks
brew "pre-commit"
# --------------------------------------------------------------------------------------------------
# Code formatter for JavaScript, CSS, JSON, GraphQL, Markdown, YAML
brew "prettier"
# --------------------------------------------------------------------------------------------------
# Task runner / simpler Make alternative written in Go
tap "go-task/tap"
brew "go-task/tap/go-task"
# --------------------------------------------------------------------------------------------------
# Extremely fast Python package installer and resolver, written in Rust
brew "uv"

# --------------------------------------------------------------------------------------------------
# Kubernetes IDE
cask "lens"
# --------------------------------------------------------------------------------------------------
# Collaboration platform for API development
cask "postman"
{{-   end }}

{{- end }}
