
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#   @author         :   Chris Burnham
#   @file           :   ~/.config/homebrew/homebrew.zsh
#   @description    :   Homebrew
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

{{ if eq .chezmoi.os "darwin" -}}
# --------------------------------------------------------------------------------------------------
#   @description    :   Homebrew
# --------------------------------------------------------------------------------------------------
if (( ${+commands[brew]} )); then
    export HOMEBREW_CASK_OPTS=--no-quarantine
    export HOMEBREW_NO_ANALYTICS=1
    export HOMEBREW_NO_EMOJI=1
    export HOMEBREW_NO_ENV_HINTS=1
    export HOMEBREW_VERBOSE_USING_DOTS=1
fi
# ==================================================================================================
{{- end }}
