{{ if .flags.is_personal -}}
[user]
  email = 16470300+christopherburnham@users.noreply.github.com

[url "github-private:christopherburnham/"]
  insteadOf = git@github.com:christopherburnham/
{{ end -}}
